.address {
  padding-top: 33px;
  position: relative;

  &.active {
    padding-bottom: 17px;

    .addressImgWrapper,
    .addressPhoneStreetWrapper {
      display: block;
    }

    .addressBuild {
      border-bottom-color: transparent;
    }

    .addressBuildNameArrow {
      transform: translateY(6px) rotate(180deg);
    }
  }
}

.addressImgWrapper {
  display: none;
  width: 100%;
}

.addressImg {
  width: 100%;
}

.addressBuild {
  border-bottom: 1px solid var(--c-black);
  left: 0;
  padding: 13px 25px 4px;
  position: absolute;
  top: 0;
  width: 100%;
}

.addressBuildName {
  @include textNormalSize();
}

.addressBuildNameArrow {
  @include arrowSmall();
  display: inline-block;
  float: right;
  transform: translateY(8px);
}

.addressPhoneStreetWrapper {
  display: none;
  padding: 0 25px;
}

.addressStreets {
  margin: 25px 0 10px;
  white-space: nowrap;
  width: 100%;
}

.addressStreet {
  @include textNormalSize();
  display: inline-block;
  white-space: normal;
  width: 50%;

  &:last-child {
    padding-left: 5px;
  }
}

.addressPhone {
  @include textNormalSize();
}

@media screen and (min-width: $pre-mobile) {
  .address {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 0 0 20px;

    &.active {
      padding: 0 0 20px;
    }
  }

  .addressBuild {
    border-bottom: 0;
    left: unset;
    margin-bottom: 10px;
    padding: 0 0 0 20px;
    position: unset;
    top: unset;
    width: 100%;
  }

  .addressBuildName {
    font-weight: 500;
  }

  .addressBuildNameArrow {
    display: none;
  }

  .addressImgWrapper {
    display: block;
    max-width: 520px;
  }

  .addressPhoneStreetWrapper {
    display: block;
    padding: 0 0 0 20px;
  }

  .addressInfo {
    max-width: 191px;
    position: relative;
    width: 100%;
  }

  .addressStreets {
    margin: 0;
    white-space: normal;
  }

  .addressStreet {
    display: block;
    margin-bottom: 10px;
    width: 100%;

    &:last-child {
      padding: 0;
    }
  }
}
