.basket {
  padding: 0 25px 50px;
  width: 100%;
}

.basketStatusEmpty {
  margin-bottom: 20px;

  .basketUniStr {
    text-align: center;
  }
}

.basketOrderPayment {
  margin-bottom: 20px;
}

// promo
.basketPromo {
  margin-bottom: 20px;
  width: 100%;
}

.basketPromoTitle {
  @include textNormalSize();
  text-align: center;
}

.basketUniTitle {
  @include textNormalSize();
  margin-bottom: 16px;
}

.basketUniStr {
  @include textNormalSize();
  margin-bottom: 12px;

  &--grey {
    color: var(--c-grey);
  }

  &--small {
    @include textSmallSize();
  }
}

.basketUniLink {
  @include textNormalSize();
  color: var(--c-black);
  text-decoration: underline;

  &:hover,
  &:active {
    color: var(--c-black);
    text-decoration: none;
  }

  &:focus,
  &:visited {
    color: var(--c-black);
    text-decoration: underline;
  }
}

// basketProductCardUniBox
.basketProductCardUniBoxName {
  @include textNormalSize();
}

.basketProductCardUniBoxValue {
  @include textNormalSize();
  padding-top: 13px;
  text-align: center;
}

// productCard
.basketProductList {
  width: 100%;
}

.basketProductListItem {
  border-top: 1px solid var(--c-black);
  padding-top: 16px;
  width: 100%;
}

.basketProductCard {
  position: relative;
  width: 100%;
}

.basketProductCardCell {
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
}

.basketProductCardImgWrapper {
  max-width: 100px;
  width: calc((99 / 325) * 100%);
}

.basketProductCardImg {
  width: 100%;
}

.basketProductCardMainInfo {
  padding-left: 27px;
  width: calc((227 / 325) * 100%);
}

.basketProductCardMainInfoTitle {
  @include textNormalSize();

  span {
    display: none;
  }
}

.basketProductCardMainInfoList {
  padding-top: 37px;
  width: 100%;
}

.basketProductCardMainInfoListItem {
  @include textNormalSize();
}

// counter
.basketProductCardCounter {
  @include textNormalSize();
  width: 70px;
}

.basketProductCardCounterContainer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.basketProductCardCounterButton {
  cursor: pointer;
  display: block;
  height: 40px;
  overflow: hidden;
  position: relative;
  width: 40px;

  &--minus {
    &:before {
      border-top: 1px solid var(--c-black);
      content: "";
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
    }
  }

  &--plus {
    &:before {
      border-top: 1px solid var(--c-black);
      content: "";
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
    }

    &:after {
      border-left: 1px solid var(--c-black);
      content: "";
      height: 10px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.basketProductCardCounterValue {
  @include textNormalSize();
  background-color: var(--c-white);
  border: 0;
  height: 40px;
  padding: 0 5px;
  text-align: center;
  width: 40px;
}

.basketProductCardRemoveButton {
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 25px;
  top: 0;
  width: 40px;
}

.basketProductCardRemoveButtonText {
  @include textNormalSize();
  display: none;
}

.basketProductCardRemoveButtonCross {
  height: 10px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 11px;
  transform: rotate(45deg) translate(-50%, -50%);
  width: 10px;

  &:after,
  &:before {
    content: "";
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:after {
    border-top: 1px solid var(--c-black);
    width: 10px;
  }

  &:before {
    border-left: 1px solid var(--c-black);
    height: 10px;
  }
}

.basketTotalCost {
  position: relative;
  text-align: right;
  width: 100%;

  &:before {
    border-top: 1px solid var(--c-black);
    content: "";
    display: block;
    transform: translateY(10px);
    width: 100%;
  }
}

.basketTotalCostValue {
  @include textNormalSize();
  background-color: var(--c-white);
  font-weight: 500;
  padding-left: 22px;
  position: relative;
}

// BASKETDELIVERY
.basketUniControl {
  margin-top: 15px;
  width: 100%;
}

.basketUniControlTitle {
  @include textNormalSize();
  font-weight: 500;
  margin-bottom: 15px;
}

.basketUniControlItem {
  margin-bottom: 15px;
  position: relative;
  width: 100%;

  &.active {
    .basketUniControlItemLabelIcon {
      transform: rotate(180deg) translateY(2px);
    }

    .basketUniControlItemDescription {
      display: block;
    }
  }

  &--withRightControl {
    .basketUniControlItemControl {
      left: 0;
      right: unset;
    }

    .basketUniControlItemLabel {
      padding-left: 40px;
      padding-right: 10px;
    }
  }
}

.basketUniControlItemLabel {
  @include textNormalSize();
  margin-bottom: 8px;
  padding-right: 80px;
}

.basketUniControlItemLabelIcon {
  @include arrowSmall();
  display: inline-block;
}

.basketUniControlItemDescription {
  @include textNormalSize();
  color: var(--c-grey);
  display: none;
}

.basketUniControlPrice {
  @include textNormalSize();
  font-weight: 500;
  position: absolute;
  right: 40px;
  top: 0;
}

.basketUniControlItemControl {
  height: 32px;
  position: absolute;
  right: 0;
  top: -8px;
  width: 32px;
}

.basketUniControlItemControlSwitcher {
  display: block;
  height: 32px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.basketUniControlItemControlPsuedoSwitcher {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;

  &:after {
    background-color: var(--c-black);
    border-radius: 50%;
    content: "";
    display: none;
    height: 8px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
  }

  &:before {
    background-color: transparent;
    border: 1px solid var(--c-black);
    border-radius: 50%;
    content: "";
    display: block;
    height: 14px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
  }
}

.basketUniControlItemControlSwitcher:checked
  + .basketUniControlItemControlPsuedoSwitcher {
  &:after {
    display: block;
  }
}

// MEDIA

@media screen and (min-width: 375px) {
  .basketProductCardRemoveButton {
    width: 64px;
  }

  .basketProductCardRemoveButtonText {
    display: block;
  }
}
@media screen and (min-width: $pre-mobile) {
  .basket {
    padding: 0;
  }

  .basketPromo {
    margin-bottom: 25px;
    margin-top: 20px;

    .basketPromoTitle,
    .formField,
    .formButton {
      display: inline-block;
    }

    .form {
      margin: 0;
      width: auto;
    }

    .formField {
      margin: 0 24px 0 12px;
      width: 110px;
    }

    .formButton {
      width: 165px;
    }
  }

  .basketUniControlItemLabelIcon {
    display: none;
  }

  .basketUniControlItemDescription {
    display: block;
  }

  .basketStatusEmpty {
    .basketUniStr {
      text-align: unset;
    }
  }

  .basketOrderPayment {
    .formButton {
      margin: 0;
      max-width: 165px;
    }
  }
}
@media screen and (min-width: 840px) {
  .basketProductCard {
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .basketProductCardCell {
    width: 100%;

    &:nth-child(1) {
      width: calc(100% - 200px);
    }
  }

  .basketProductCardImgWrapper {
    padding-top: 22px;
  }

  .basketPromo {
    .basketPromoTitle,
    .formField,
    .formButton {
      display: inline-block;
    }

    .form {
      margin: 0;
      width: auto;
    }

    .formField {
      margin: 0 24px 0 12px;
      width: 118px;
    }

    .formButton {
      width: 165px;
    }
  }

  .basketProductCardRemoveButton {
    height: unset;
    position: relative;
    right: unset;
    top: unset;
    width: auto;
  }

  .basketProductCardRemoveButtonCross {
    height: 10px;
    left: calc(50% - 5px);
    overflow: hidden;
    right: unset;
    top: calc(50% - 11px);
    transform: rotate(45deg) translate(-50%, -50%);
    width: 10px;
  }

  .basketProductCardCounter {
    width: auto;
  }

  .basketProductCardCounterContainer {
    padding-top: 38px;
  }

  .basketProductCardUniBoxValue {
    padding-top: 50px;
  }

  .basketProductCardCounterButton {
    flex-shrink: 0;
    height: 20px;
    width: 20px;
  }

  .basketProductCardUniBox {
    padding: 0 10px;
    text-align: center;
    width: 100%;
  }

  .basketProductCardImgWrapper {
    flex-shrink: 0;
    width: 100%;
  }

  .basketProductCardMainInfoList {
    padding-top: 50px;
  }

  .basketProductListItem:not(:first-child) {
    .basketProductCardUniBoxName,
    .basketProductCardRemoveButtonText,
    .basketProductCardCountertitle,
    .basketProductCardMainInfoTitle {
      opacity: 0;
    }
  }

  .basketProductListItem:not(:first-child) {
    padding-top: 0;
  }
}
