.filter {
  padding-left: 23px;
  padding-right: 23px;
  position: relative;

  .btnCross {
    display: none;
    height: 37px;
    right: 23px;
    width: 37px;
  }

  &.active {
    background-color: var(--c-white);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 65px;
    z-index: 10;
  }
}

.filterInner {
  min-height: 100%;
}

.filterButton {
  @include textNormalSize();
  color: var(--c-light-grey);
  display: block;
  height: 37px;
  padding-top: 10px;
  white-space: nowrap;
  width: 100px;

  &:before {
    background: url('../img/icon-filter.svg') center center no-repeat;
    content: '';
    display: inline-block;
    height: 17px;
    margin-right: 13px;
    vertical-align: top;
    width: 17px;
  }

  &.active {
    color: var(--c-black);

    &:before {
      background-image: url('../img/icon-filter-active.svg');
    }

    & + .btnCross {
      display: block;
    }
  }
}

.filterSelectors {
  align-items: flex-start;
  display: none;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.filterSelector {
  max-width: 163px;
  position: relative;
  width: 100%;
}

.filterSelectorName {
  @include textSmallSize();
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.filterSelectorArrow {
  @include arrowSmall();
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
}

.filterReset {
  @include textSmallSize();
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.filterSelectorList {
  background-color: color(var(--c-white) l(80%));
  left: 0;
  padding: 8px 12px 12px;
  position: absolute;
  top: 37px;
  width: 100%;
  z-index: 1;
}

.filterSelectorListItem {
  @include textSmallSize();
  cursor: pointer;

  &.current {
    font-weight: 500;
  }
}

// Media

@media screen and (min-width: $pre-mobile) {
  .filter {
    padding-left: 0;
    padding-right: 0;

    &.active {
      bottom: 0;
      left: unset;
      position: absolute;
      right: unset;
      top: 0;
      width: calc(100% - 176px);
    }
  }
}
@media screen and (min-width: 838px) {
  .filterButton.active + .btnCross,
  .popupFilter {
    display: none;
  }

  .filterButton {
    display: none;
  }

  .filterSelectors {
    display: flex;
    padding-left: 0;
    padding-right: 0;
  }
}
