.latest {
  position: relative;
  width: 100%;

  .formButton {
    width: 220px;
    margin: 60px auto 0;
    text-align: center;
    line-height: 28px;
  }
}

.latestTop {
  display: none;
  margin-bottom: 50px;
  @media (--m) {
    display: block;
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.latestTopLink {
  @include textSmallSize();
  text-decoration: none;
  color: var(--c-black);

  &:visited {
    color: var(--c-black);
  }
}

.latestTopCover {
  width: auto;
  max-width: 100%;
  height: auto;
}

.latestTopTitle {
  display: block;
  text-align: center;
  @include textNormalSize();
}

.latestTopVideo {
  width: 100%;
  height: 350vw;
  max-height: 410px;
  margin-bottom: 20px;
}

.latestList {
  width: 100%;
  position: relative;

  &:before {
    content: "";
    position: fixed;
    bottom: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 532px;
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.9) 25%,
      rgba(255, 255, 255, 0.86) 35%,
      rgba(255, 255, 255, 0.74) 50%,
      rgba(255, 255, 255, 0.56) 65%,
      rgba(255, 255, 255, 0.46) 75%,
      rgba(255, 255, 255, 0.36) 81%,
      transparent 100%
    );
  }
}

.latestListItem {
  width: 100%;

  &:nth-child(2) {
    display: none;
  }
}

.latestListItemLink {
  display: block;
  position: relative;
  width: 100%;
  height: 532px;
  overflow: hidden;
  text-align: center;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: var(--c-black);
  }
}

.latestListItemLinkImg {
  position: absolute;
  width: auto;
  height: 532px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.latestListItemLinkText {
  position: absolute;
  top: 226px;
  display: block;
  width: 100%;
  @include rhythm(13,16);
  font-weight: 300;
  z-index: 2;
  color: var(--c-black);
}

// Desktop
@media (--m) {
  .latest {
    margin-bottom: 50px;
  }

  .latestList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    &:before {
      display: none;
    }

    & + & {
      margin-top: 56px;
    }
  }

  .latestListItem {
    width: 50%;
    display: block !important;
    padding: 0 5px;

    &:nth-child(2),
    &:nth-child(3) {
      .latestListItemLinkImg {
        height: 350px;
        top: 22px;
      }
      .latestListItemLinkText {
        top: 389px;
      }
    }

    &:nth-child(4) {
      .latestListItemLink {
        height: 512px;
      }

      .latestListItemLinkImg {
        height: 480px;
      }

      .latestListItemLinkText {
        top: 496px;
      }
    }
  }

  .latestListItemLink {
    width: 100%;
    height: 470px;

    &:after {
      display: none;
    }
  }

  .latestListItemLinkImg {
    height: 400px;
  }

  .latestListItemLinkText {
    top: 416px;
  }
}
