.linkToCatalog{
  width: 80px;
  position: fixed;
  bottom: 30px;
  z-index: 3;
  text-transform: uppercase;
  background: transparent;
  left: 50%;
  transform: translateX(-50%);

  &:hover,
  &:focus,
  &:active,
  &:visited{
    background: transparent !important;
  }
}

.linkToCatalogText{
  display: block;
  text-align: center;
  @include font(13px, var(--HelveticaNeue), 15px);
  font-weight: 300;
  margin-bottom: 11px;
  color: var(--c-black);

  &:first-child{
    font-weight: 500;
  }
}
.linkToCatalogArrow{
  display: block;
  margin: 18px auto 0;
  z-index:3;
  @include arrow();
}

@media screen and (min-width: $pre-mobile){
  .linkToCatalog{
    display: none;
  }
}
