//Core styles
.main {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 500px;
  height: 100%;
  @extend .container;
  padding-right: 0;
  padding-left: 0;
  @media (--m) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.main__container {
  width: 100%;
  max-width: 710px;
}
//End core styles

//Mods

//End mods
