//Core styles
.optionalContent {
  border-bottom: 1px solid var(--c-black);
  border-top: 1px solid var(--c-black);
  display: none;
  padding: 25px;
  width: 100%;
  @media (--m) {
    display: block;
  }

  p {
    @include textNormalSize();
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: var(--c-black);
    text-decoration: underline;

    &:hover,
    &:active {
      color: var(--c-black);
      text-decoration: none;
    }

    &:focus,
    &:visited {
      color: var(--c-black);
      text-decoration: underline;
    }
  }
}
//End core styles

//Mods

//End mods
