.optionalContent{
  display: none;
  width: 100%;
  padding: 25px;
  border-top: 1px solid var(--c-black);
  border-bottom: 1px solid var(--c-black);
  
  p{
    @include textNormalSize();
    margin-bottom: 15px;
    
    &:last-child{
      margin-bottom: 0;
    }
  }
  
  a{
    color: var(--c-black);
    text-decoration: underline;
    
    &:hover,
    &:active{
      color: var(--c-black);
      text-decoration: none;
    }
    
    &:focus,
    &:visited{
      color: var(--c-black);
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: $pre-mobile) {
  .optionalContent {
    display: block;
  }
}
