.productGalleryNavigation {
  text-align: center;
}

.news_slide img {
  max-height: 618px;
  max-width: 100%;
}

.news_slide {
  text-align: center;
  width: 100%;
}

.news_cycle_wrap {
  margin: 0 0 70px;
  position: relative;
  text-align: center;
}

.news_cycle_wrap.cycle_in_news {
  margin-top: 50px;
}

.news_next,
#s_next {
  background: var(--c-white) url(../img/img_str_next.png) no-repeat 50% 50%;
  background-size: contain;
  cursor: pointer;
  display: none;
  height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  opacity: 0.5;
  vertical-align: middle;
  width: 20px;
}

.news_prev,
#s_prev {
  background: var(--c-white) url(../img/img_str_prev.png) no-repeat 50% 50%;
  background-size: contain;
  cursor: pointer;
  display: none;
  height: 20px;
  margin-right: 10px;
  margin-top: 10px;
  opacity: 0.5;
  vertical-align: middle;
  width: 20px;
}

#s_next,
#s_prev {
  display: block;
  margin-top: -9px;
  position: absolute;
  top: 50%;
}

#s_next {
  right: 0;
}

#s_prev {
  left: 0;
}

.news_slide a {
  display: block;
}

.news_slide img {
  visibility: hidden;
}

.news_slide.cycle-slide-active img {
  visibility: visible;
}

.news_slide.cycle-slide-active .news_prev,
.news_slide.cycle-slide-active .news_next {
  display: inline-block;
}

#history_name a {
  color: inherit;
  display: inline-block;
  margin-left: 40px;
}

#history_name a:hover,
#history_name a:focus,
#history_name a:active,
#history_name a:visited {
  color: inherit;
}

.shop_old_price {
  display: inline-block;
  margin-right: 12px;
  text-decoration: line-through;
}

.shop_param_price {
  display: none;
}

.shop_param_price:first-of-type {
  display: block;
}

.productString a {
  @include textNormalSize();
  color: var(--c-black);
  text-decoration: underline;
}

.productString a:hover,
.productString a:focus,
.productString a:active,
.productString a:visited {
  color: var(--c-black);
}

.basketProductCardMainInfoListItem a {
  @include textNormalSize();
  color: var(--c-black);
  text-decoration: none;
}

.basketProductCardMainInfoListItem a:hover,
.basketProductCardMainInfoListItem a:focus,
.basketProductCardMainInfoListItem a:active,
.basketProductCardMainInfoListItem a:visited {
  color: var(--c-black);
}

.error.productString {
  margin-top: 10px;
}

/* Modal window */
.modal_window_wrapper {
  background: color(var(--c-black) l(75%));
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0 !important;
  width: 100%;
  z-index: 10000;
}

.modal_window_sub_wrapper {
  height: 100%;
  position: relative;
}

.modal_window_container {
  height: 530px;
  left: 50%;
  margin: -265px 0 0 -300px;
  position: absolute;
  top: 50%;
  width: 600px;
}

.modal_window_container_wrapper {
  background: var(--c-white);
  padding: 20px;
}

.modal_window_container_close {
  background: url(../img/modal_x.png) no-repeat 50% 50%;
  background-size: contain;
  display: block;
  height: 31px;
  position: absolute;
  right: 0;
  top: 0;
  width: 31px;
}

.modal_window_container h2 {
  color: var(--c-white);
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 30px;
  text-align: center;
  text-transform: uppercase;
}

.modal_window_container input[type='text'],
.modal_window_container input[type='tel'] {
  background: var(--c-white);
  border: 0;
  color: color(var(--c-black) l(70%));
  display: block;
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  margin: 0 0 6px;
  outline: none;
  padding: 0 25px;
  width: calc(100% - 50px);
}

.modal_window_container input[type='submit'] {
  background: #C75380;
  border: 0;
  border-radius: 25px;
  color: var(--c-white);
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 51px;
  margin: 40px auto 0;
  outline: 0;
  text-align: center;
  text-transform: uppercase;
  width: 210px;
}

.modal_window_wrapper tr td:first-child {
  text-align: left;
}

.modal_window_wrapper td {
  padding: 5px;
  text-align: center;
  width: 69px;
}

.modal_window_wrapper tr.title {
  border-bottom: 1px solid var(--c-black);
}

.modal_window_wrapper table {
  margin-bottom: 20px;
}

.modal_window_wrapper table:last-child {
  margin-bottom: 0;
}

.modal_window_container h2 img {
  width: 200px;
}

.modal_window_container h2 {
  margin-bottom: 10px;
}

.menuLinkCounter {
  font-weight: 500;
  margin-right: 15px;
}

.productGalleryContainer .uniItem--sale,
.productGalleryContainer .uniItem--new {
  z-index: 1000;
}

.filterMobileSelector {
  border-bottom: 1px solid var(--c-black);
  padding: 13px 0 4px;
}

.filterMobileSelectors .formButton {
  margin-top: 15px;
}

.filterMobileSelectors .jq-selectbox__trigger {
  position: absolute;
  right: 0;
}

.error_input {
  border-color: var(--c-red);
}

.formFieldSet .error_message {
  color: var(--c-red);
}

.formLegend + .cart_table {
  margin-top: 10px;
}

.subscription .error_input {
  border-color: initial;
}

/*.filterMobileSelector .jq-selectbox__dropdown ul {
    max-height: 206px;
}*/

.modal_window_container table td {
  font-family: 'Conv_HelveticaNeueCyr', 'Helvetica Neue LT W01',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.54545;
}

.filterMobileSelector select {
  border: 0;
  width: 100%;
}

.cart_param {
  font-family: 'Conv_HelveticaNeueCyr', 'Helvetica Neue LT W01',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.54545;
}

.addressLocality {
  display: block;
}

.addressHours {
  display: block;
  font-family: 'Conv_HelveticaNeueCyr', 'Helvetica Neue LT W01',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.54545;
  margin-bottom: 10px;
}

.socialShareLinks {
  padding: 40px 0;
  width: 100%;
}

.socialShareLinksTitle {
  color: var(--c-black);
  font-family: 'Conv_HelveticaNeueCyr', 'Helvetica Neue LT W01',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 300;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.54545;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.socialShareLinksList {
  align-items: flex-start;
  -webkit-box-align: start;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.socialShareLinksListItem {
  border-left: 1px solid var(--c-black);
  display: inline-block;
  height: 27px;
  text-align: center;
  width: calc(100% / 3);
}

.socialShareLinksListItem:first-child {
  border-left: 0;
}

.socialShareLinksListLink {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--c-black);
  display: inline-block;
  font-family: 'Conv_HelveticaNeueCyr', 'Helvetica Neue LT W01',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 300;
  height: 24px;
  letter-spacing: 1px;
  line-height: 1.54545;
  line-height: 24px;
  padding-left: 39px;
  vertical-align: middle;
}

@media screen and (max-width: 520px) {
  .socialShareLinks {
    border-bottom: 1px solid var(--c-black);
    border-top: 1px solid var(--c-black);
    margin-bottom: 15px;
  }

  .socialShareLinksList {
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .socialShareLinksListItem {
    border-left: 0;
    margin-bottom: 20px;
  }

  .socialShareLinksListItem:last-child {
    margin: 0;
  }

  .socialShareLinksListLink {
    background: none;
    padding: 0;
  }
}
@media screen and (max-width: 639px) {
  .modal_window_container {
    height: 300px;
    margin: -150px 0 0 -140px;
    width: 280px;
  }

  .modal_window_container_wrapper {
    padding: 10px;
  }

  .modal_window_container .dn {
    height: 280px;
    overflow: auto;
    width: 255px;
  }

  .modal_window_container .dn::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
    width: 5px;
  }

  .modal_window_container .dn::-webkit-scrollbar-track {
    background-color: var(--c-white);
    border-radius: 3px;
  }

  .modal_window_container .dn::-webkit-scrollbar-thumb {
    background-color: var(--c-black);
    border-radius: 3px;
  }

  .jq-selectbox__dropdown {
    background: var(--c-white);
  }

  .commonMsg {
    padding: 0 23px;
  }

  .basketUniControlItemLabel {
    cursor: pointer;
  }
}
