.yuroidStylizedSelectWrapper {
  border-bottom: 1px solid var(--c-black);
  position: relative;
  width: 100%;
}

.yuroidStylizedSelectCurrent {
  padding: 10px;
  width: 100%;
}

.yuroidStylizedSelectCurrentValue {
  @include textNormalSize();
  color: var(--c-black);
  width: calc(100% - 13px);
}

.yuroidStylizedSelectList {
  background-color: color(var(--c-white) l(80%));
  background-color: var(--c-light-indigo);
  display: none;
  position: absolute;
  width: 100%;
  z-index: 10;

  &.active {
    display: block;
  }
}

.yuroidStylizedSelectListItem {
  @include textNormalSize();
  color: var(--c-black);
  padding: 5px 8px;

  &.active {
    color: var(--c-red);
  }
}

.yuroidStylizedSelectArrow {
  @include arrow(down, 15);
  display: block;
  float: right;
}
