.post {
  padding-bottom: 30px;
}

.postHeader {
  padding-left: 26px;
  padding-right: 26px;
  position: relative;
}

.postBackLink {
  background: url("../img/img-cross16x16.svg") top right no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  position: absolute;
  right: 26px;
  top: 0;
  width: 40px;

  &:active {
    .postBackLinkText {
      color: var(--c-black);
    }
  }
}

.postBackLinkText {
  @include rhythm(9, 11);
  color: var(--c-grey);
  display: none;

  &:before {
    content: "< ";
  }
}

.postTitle {
  @include textNormalSize();
  font-weight: 500;
  margin-bottom: 8px;
  padding-right: 44px;
  text-transform: uppercase;
}

.postCreated {
  @include textSmallSize();
}

.postContent {
  @include textNormalSize();
  padding: 15px 26px;

  h2 {
    @include textNormalSize();
    font-weight: 500;
    margin: 25px 0 20px;
  }

  p {
    @include textNormalSize();
    margin-bottom: 15px;
  }

  a {
    @include textNormalSize();
    color: var(--c-black);
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: var(--c-black);
    }

    &:hover,
    &:active {
      text-decoration: none;
    }

    &:focus {
      text-decoration: underline;
    }
  }

  img {
    height: auto;
    margin-bottom: 15px;
    max-width: 100%;
    width: auto;
  }

  ul {
    list-style: none;
    margin-bottom: 20px;

    li {
      margin-bottom: 5px;

      &:before {
        content: "- ";
      }
    }
  }

  strong,
  b {
    font-weight: 500;
  }
}

.postContent--onlyNews img {
  max-width: 300px;
  width: 100%;
}

.postContent--only20th {
  display: none;
}

.post__footer {
  .socials {
    margin: 0 auto;
  }
}

@media (--m) {
  .postBackLink {
    background: none;
    display: block;
    height: unset;
    margin-bottom: 15px;
    position: unset;
    right: unset;
    top: unset;
    width: 250px;
  }

  .postContent--only20th {
    display: block;
  }

  .postBackLinkText {
    display: block;
  }

  .postHeader,
  .postContent {
    padding-left: 0;
    padding-right: 0;
  }

  .postTitle {
    padding-right: 0;
  }

  .post__footer {
    .socials {
      display: none;
    }
  }
}
