.productCard {
  padding: 0 25px 25px;
  width: 100%;

  .formButton--favorite {
    display: none;
    margin-top: 8px;
  }

  .breadcrumbs {
    display: none;
    margin-bottom: 20px;
  }
}

.productCardInner {
  width: 100%;
}

.productGallery {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

.productGalleryContainer {
  margin: 0 auto;
  max-width: 325px;
  position: relative;
  width: calc(100% - 40px);
}

.productGalleryImg {
  width: 100%;
}

.productMainContent {
  position: relative;
}

.productName {
  @include textNormalSize();
  color: var(--c-black);
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.productNameLink {
  @include textNormalSize();
  color: var(--c-black);
  font-weight: inherit;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: var(--c-black);
  }
}

.productString {
  @include textNormalSize();
  margin: 0;
}

.productType {
  @include textNormalSize();
  color: var(--c-black);
  display: block;
  font-weight: 500;
}

.productVendorCode {
  @include textNormalSize();
  color: var(--c-black);
  font-weight: 300;
}

.productPrice {
  @include textNormalSize();
  color: var(--c-black);
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 0;
}

.productSizes {
  margin: 5px 0 25px;
  position: relative;
}

.productCurrentSize {
  display: block;
}

.productCurrentSizeLabel {
  @include textNormalSize();
  color: var(--c-black);
  display: inline-block;
  font-weight: 500;
  margin-right: 16px;
}

.productCurrentSizeValue {
  @include rhythm(11,13);
  color: var(--c-black);
  font-weight: 500;
}

.productTableOfSizesAnchor {
  @include textNormalSize();
  color: var(--c-black);
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 4px;
}

.productCardGrid {
  display: flex;
  flex-flow: column nowrap;
}

.productCardGridCell {
  &:first-child {
    padding-bottom: 30px;
  }

  &:last-child {
    padding-bottom: 20px;
  }
}

.productCardFooter {
  padding-top: 25px;

  .socials {
    margin: 0 auto;
  }
}

.productDescription {
  margin-bottom: 15px;

  &.active {
    margin-bottom: 5px;

    .productDescriptionInner {
      height: unset;
    }

    .productDescriptionBtn {
      display: none;
    }
  }
}

.productDescriptionLabel{
  @include textNormalSize();
  margin-bottom: 6px;
  margin-top: 15px;
}

.productDescriptionInner {
  @include textNormalSize();
  height: 32px;
  overflow: hidden;

  p {
    @include textNormalSize();
    color: var(--c-black);
    margin: 0 0 15px;
  }
}

.productDescriptionBtn {
  @include textNormalSize();
  color: var(--c-black);
  cursor: pointer;

  &:after {
    content: "...";
  }
}

// Mods
.productString--grey{
  color: var(--c-grey);
}

@media screen and (min-width: $pre-mobile){
  .productCardFooter {
    padding-top: 43px;

    .socials {
      display: none;
      margin: 0;
    }
  }
}
@media screen and (min-width: $tablet) {
  .productCard {
    padding: 0;

    .breadcrumbs {
      display: block;
    }

    .formButton{
      margin-left: 0;
      margin-right: 0;
      max-width: 165px;
    }

    .formButton--favorite {
      display: block;
    }
  }

  .productCardInner {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .productGallery,
  .productMainContent {
    width: calc(50% - 16px);
  }

  .productName {
    margin-bottom: 13px;
  }

  .productType {
    margin-bottom: 3px;
  }

  .productVendorCode {
    margin-bottom: 16px;
  }

  .productString {
    position: relative;
  }

  .productTableOfSizesAnchor {
    position: relative;

    &:after {
      border-top: 1px solid var(--c-black);
      content: "";
      display: inline-block;
      position: relative;
      transform: translateX(0);
    }
  }

  .productCardGridCell {
    &:last-child {
      padding-bottom: 0;
    }
  }

  .productSizes {
    margin-bottom: 70px;
    margin-top: 15px;
  }

  .productCardFooter {
    .socials {
      display: block;
    }
  }
}
