//Core styles
.sliderHorizontal {
  height: 250px;
  overflow: hidden;
  width: 100%;
}

.sliderHorizontalContainer {
  white-space: nowrap;
  width: auto;
}

.sliderHorizontalImg {
  display: inline-block;
}
//End core styles
//Mods

//End mods
