//Core styles
.socials {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 120px;
}

.socialsLink {
  height: 24px;
  width: 24px;
}
//End core styles

//Mods

//End mods

//Media queries
//Core styles

//End core styles

//Mods

//End mods
//End media queries
