//Core styles
.textContainer {
  h1 {
    @include textNormalSize();
    font-weight: 500;
  }

  p {
    @include textNormalSize();
    margin-bottom: 16px;
    padding: 0 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    margin-bottom: 20px;
    width: 100%;
  }
}
//End core styles

//Mods

//End mods
