//Core styles
.uniAccordionName {
  @include textNormalSize();
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  user-select: none;
  vertical-align: middle;
}

.uniAccordionNameArrow {
  @include setTransitionFor(transform);
  position: relative;
  @include arrow(down, 15);
  margin-left: 18px;
  vertical-align: middle;
}

.uniAccordionContainer {
  display: block;
  > * {
    margin-top: 10px;
  }
  p {
    @include textNormalSize();
    margin-bottom: 10px;
  }

  a {
    @include textNormalSize();
    color: var(--c-black);
    text-decoration: underline;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  fieldset {
    padding: 0;
  }
}

.uniAccordion {
  margin: 24px 0 0;
  &.is-collapsed {
    .uniAccordionNameArrow {
      transform: rotate(0deg);
    }
  }
  .uniAccordionNameArrow {
    transform: rotate(180deg);
  }
}
//End core styles

//Mods

//End mods
