.uniList {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-left: 19px;
  padding-right: 19px;
  width: 100%;
}

.uniItem {
  color: var(--c-black);
  display: block;
  margin-bottom: 18px;
  padding-left: 4px;
  padding-right: 4px;
  width: 50%;
}

.uniItemCover {
  display: block;
  height: 270px;
  margin-bottom: 9px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.uniItemCoverImg {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

.uniItemDate {
  @include textSmallSize();
  display: block;
  line-height: 1;
  margin-bottom: 1px;
}

.uniItemTitle {
  @include textNormalSize();
  display: block;
  font-weight: 500;
}

.uniItemPrice {
  @include textNormalSize();
  display: block;
}

// Mods
.uniItemPrice--old {
  margin-right: 12px;
  text-decoration: line-through;
}

.uniList--long {
  .uniItem {
    margin-bottom: 20px;
  }

  .uniItemCover,
  .uniItemCoverImg {
    height: 228px;
  }

  .uniItemCover {
    margin-bottom: 6px;
  }

  .uniItemTitle {
    margin-bottom: 1px;
  }

  .uniItemShoes {
    .uniItemCoverImg {
      height: 117px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.uniItem--sale,
.uniItem--new {
  @include textSmallSize();
  bottom: 0;
  color: var(--c-white);
  left: 0;
  padding: 2px 7px 3px;
  position: absolute;
  text-transform: uppercase;
  z-index: 1;
}

.uniItem--sale {
  background-color: var(--c-red);
}

.uniItem--new {
  background-color: var(--c-black);
}

.uniItem--zero {
  height: 0;
  margin: 0 !important;
}

.uniList--withAsymmetry {
  display: block;

  .uniItem {
    margin: 0 auto 42px;
    padding: 0;
  }

  .uniListRow {
    &:nth-child(odd) {
      .uniItem {
        &:nth-child(1) {
          max-width: 330px;
          width: 100%;

          .uniItemCover {
            height: 450px;
          }

          .uniItemCoverImg {
            height: 100%;
          }
        }

        &:nth-child(2) {
          max-width: 297px;
          width: 100%;

          .uniItemCover {
            height: 350px;
          }

          .uniItemCoverImg {
            height: 100%;
          }
        }
      }
    }

    &:nth-child(even) {
      .uniItem {
        &:nth-child(1) {
          max-width: 279px;
          width: 100%;

          .uniItemCover {
            height: 350px;
          }

          .uniItemCoverImg {
            height: 100%;
          }
        }

        &:nth-child(2) {
          max-width: 303px;
          width: 100%;

          .uniItemCover {
            height: 400px;
          }

          .uniItemCoverImg {
            height: 100%;
          }
        }
      }
    }
  }
}

@media (--s) {
  .uniList--withOnlyImgs {
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0;

    .uniItem {
      width: 100%;
    }

    .uniItem,
    .uniItemDate,
    .uniItemTitle,
    .uniItemCover {
      margin: 0;
      padding: 0;
    }

    .uniItemDate,
    .uniItemTitle {
      display: none;
    }
  }
}
@media screen and (min-width: 540px) {
  .uniList--withAsymmetry {
    .uniItem {
      margin: 0;
      padding: 0 16px;
    }

    .uniListRow {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      margin-bottom: 42px;
    }
  }
}
@media screen and (min-width: $pre-mobile) {
  .uniList {
    padding: 0;
  }
}
@media screen and (min-width: 730px) {
  .uniItem {
    margin-bottom: 42px;
    width: 180px;
  }
}
@media screen and (min-width: 750px) {
  .uniList:not(.uniList--long) {
    .uniItem {
      padding: 0;
    }
  }
}
@media screen and (min-width: 828px) {
  .uniList--long {
    .uniItem {
      width: 163px;
    }
  }
}
@media screen and (min-width: 838px) {
  .uniList--long {
    .uniItem {
      padding: 0;
    }
  }

  .uniList--withAsymmetry {
    .uniItem {
      margin: 0;
      padding: 0;
    }
  }
}
