//Core styles
.uniAccordionName {
  @include textNormalSize();
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  user-select: none;
}

.uniAccordionNameArrow {
  @include arrowSmall();
  display: inline-block;
  margin-left: 18px;
}

.uniAccordionContainer {
  display: none;

  p {
    @include textNormalSize();
    margin-bottom: 10px;
  }

  a {
    @include textNormalSize();
    color: var(--c-black);
    text-decoration: underline;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

.uniAccordion {
  margin: 24px 0 0;

  &.active {
    .uniAccordionName {
      margin-bottom: 10px;
    }

    .uniAccordionContainer {
      display: block;
    }

    .uniAccordionNameArrow {
      transform: rotate(180deg);
    }
  }
}
//End core styles

//Mods

//End mods
