//Core styles
.mobile-menu {
  display: none;
  width: 100%;
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--c-white);
  z-index: 1000000;
  padding: 10px 35px 35px 35px;
  overflow-y: scroll;
  @media (--m) {
    display: none;
  }
  &.is-open {
    display: unset;
    @media (--m) {
      display: none;
    }
  }
  .btn-cross {
    position: absolute;
    right: 16px;
    top: 0px;
    width: 40px;
    height: 60px;
    @include reset-button();
  }

  .form--mobile-menu {
    padding-bottom: 0;
  }

}
//End core styles

//Mods
.nav--mobile-menu {
  margin-top: 20px;

  .nav__link {
    @include rhythm(12, 20);
    color: var(--c-grey);
  }
  .nav__link--heading {
    color: var(--c-black);
    @include rhythm(16,28);
  }

  .nav__links--site-sections {
    margin-top: 35px;
    margin-bottom: 60px;
    padding-top: 25px;
    &:before {
      content: '';
      display: block;
      width: 110px;
      border-top: 1px solid #000;
      transform: translateY(-25px);
    }
    .nav__link {
      @include rhythm(14,28)
    }
  }

}

.nav--service {
  .nav__link {
    font-size: 14px;
    color: var(--c-black);
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}

//End mods
