//Core styles
.mobile-menu {
  background-color: var(--c-white);
  bottom: 0;
  display: none;
  left: 0;
  overflow-y: scroll;
  padding: 10px 35px 35px;
  position: fixed;
  right: 0;
  top: 65px;
  width: 100%;
  z-index: 1000000;

  &.is-open {
    display: unset;
    @media (--m) {
      display: none;
    }
  }

  .exit-btn {
    right: 27px;
    width: 15px;
    height: 16px;
  }

  .form--mobile-menu {
    padding-bottom: 0;
  }
  @media (--m) {
    display: none;
  }
}
//End core styles
//Mods
.nav--mobile-menu {
  margin-top: 20px;

  .nav__link {
    @include rhythm(12, 20);
    color: var(--c-grey);
  }

  .nav__link--heading {
    @include rhythm(16, 28);
    color: var(--c-black);
  }

  .nav__links--site-sections {
    margin-bottom: 60px;
    margin-top: 35px;
    padding-top: 25px;

    &:before {
      border-top: 1px solid #000000;
      content: "";
      display: block;
      transform: translateY(-25px);
      width: 110px;
    }

    .nav__link {
      @include rhythm(14, 28);
    }
  }
}

.nav--service {
  .nav__link {
    color: var(--c-black);
    font-size: 14px;

    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}
//End mods
