//Core styles
.breadcrumbs {
  width: 100%;
}

.breadcrumbs__link {
  @include textNormalSize();
  @include setTransitionFor(0.2s, color);
  color: var(--c-grey);
  display: inline-block;
  padding-left: 4px;

  &:hover {
    color: var(--c-black);

    .breadcrumbs__link-icon {
      background-image: svg-load("../icons/svg/icon-arrow.svg", fill=var(--c-black));
    }
  }
}

.breadcrumbs__link-icon {
  @include setTransitionFor(0.2s, background);
  background-image: svg-load("../icons/svg/icon-arrow.svg", fill=var(--c-grey));
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 7px;
  margin-right: 10px;
  position: relative;
  transform: rotate(-90deg);
  vertical-align: middle;
  width: 7px;
}
//End core styles

//Mods

//End mods
