//Core styles
.breadcrumbs {
  width: 100%;
}

.breadcrumbs__link {
  @include textNormalSize();
  @include setTransitionFor(color);
  color: var(--c-grey);
  display: inline-block;
  padding-left: 4px;
  &:hover {
    color: var(--c-black);
    .breadcrumbs__link-icon {
      &:after,
      &:before {
        background: var(--c-black);
      }
    }
  }
}

.breadcrumbs__link-icon {
  @include arrow(left, 10, var(--c-grey), var(--c-grey));
  position: relative;
  margin-right: 10px;
  vertical-align: middle;
}
//End core styles

//Mods

//End mods
