//Core styles
.breadcrumbs {
  width: 100%;
}

.breadcrumbsLink {
  @include textNormalSize();
  color: var(--c-grey);
  display: inline-block;
  padding-left: 4px;

  &:before {
    content: "<";
    padding-right: 8px;
  }
}
//End core styles

//Mods

//End mods
