// Mixins entry point

@import "utils";
@import "arrow";
@import "placeholder";


@mixin reset-button {
  background: transparent;
  border: 0;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
  -moz-user-select: text;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
@mixin button-size(
  $padding-y,
  $padding-x,
  $font-size,
  $line-height,
  $border-radius
) {
  border-radius: $border-radius;
  font-size: $font-size;
  line-height: $line-height;
  padding: $padding-y $padding-x;
}

// Legacy mixins

@mixin textNormalSize() {
  @include rhythm(11, 17);
  font-weight: 300;
  letter-spacing: 1px;
}
@mixin textSmallSize() {
  @include rhythm(9, 17);
  font-weight: 300;
  letter-spacing: 1px;
}
