<div class="filter">
    <span id="filterButton" class="filterButton">Фильтры</span>
    <div id="filterButtonClose" class="btnCross"></div>
    <div class="filterInner">
        <div class="filterSelectors">
            <div class="filterSelector">
                <span class="filterSelectorName">Цена<span class="filterSelectorArrow"></span></span>

                <ul class="filterSelectorList">
                    <li class="filterSelectorListItem">до 10 000 ₽</li>
                    <li class="filterSelectorListItem current">от 10 000 до 30 000 ₽</li>
                    <li class="filterSelectorListItem">от 30 000 до 100 000 ₽</li>
                    <li class="filterSelectorListItem">от 100 000 ₽</li>
                </ul>
            </div>
            <div class="filterSelector">
                <span class="filterSelectorName">Бренд<span class="filterSelectorArrow"></span></span>
            </div>
            <div class="filterSelector">
                <span class="filterSelectorName">Размер<span class="filterSelectorArrow"></span></span>
            </div>
            <div class="filterSelector">
                <span class="filterSelectorName">Категория<span class="filterSelectorArrow"></span></span>
            </div>
            <div class="filterReset">Сбросить</div>
        </div>
        <div id="popupFilter" class="popupFilter">
            <div class="form">
                <form>
                    <input class="formField" type="text" placeholder="Цена" value="Цена" />
                    <input class="formField" type="text" placeholder="Бренд" value="Бренд"  />
                    <input class="formField" type="text" placeholder="Категория" value="Категория" />
                    <input class="formButton" type="button" value="Сбросить" />
                </form>
            </div>
        </div>
    </div>
</div>