<div class="filter">
  <select name="" id="" data-target="filters.filter">
    <option value="">Цена</option>
    <option value="kek">Бренд</option>
    <option value="kek">Размер</option>
    <option value="kek">Категория</option>
  </select>
</div>
