footer.footer
  .container
    .footer__inner
      .footer__cell
        img.payment-standarts(src='https://daynight.ru/custom/day/img/img-payments.svg', alt='Visa & MasterCard')
        nav.nav.nav--service.nav--footer
          .nav__links
            a.nav__link.link(href='payment.html') Оплата
            a.nav__link.link(href='delivery.html') Доставка
        include ./_socials.pug
      .footer__cell
        p.copyright © 2017 DAYNIGHT Санкт-Петербург All Rights Reserved
