<footer class="footer">
    <div class="container">
        <div class="footerInner">
            <div class="footerCell">
                <img class="paymentsStandarts" src="https://daynight.ru/custom/day/img/img-payments.svg" alt="Visa & MasterCard">
                <div class="menu menu--footer">
                    <a class="menuLink" href="payment.html">Оплата</a>
                    <a class="menuLink" href="delivery.html">Доставка</a>
                </div>
                {% include('./_socials.njk') %}
            </div>
            <div class="footerCell">
                <p class="copyRight">© 2017 DAYNIGHT Санкт-Петербург All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
