{% from 'macros/helpers.html' import spriteForLink,sprite %}

<header class="header">
    <div class="container">
        <a id="menuIcon" class="menuIcon" href="#"></a>
        <a href="index.html" class="logo">
            <img class="logoImg" src="images/content/logo.svg" alt="">
        </a>
        <nav class="menu menu--header">
            <a class="menuLink" href="news.html">Новости</a>
            <a class="menuLink" href="brands.html">Бренды</a>
            <a class="menuLink" href="history.html">История</a>
            <a class="menuLink" href="address.html">Адреса</a>
            <a class="menuLink" href="basket.html">Корзина</a>
        </nav>
        <a class="menuLinkBasket" href="basket.html"></a>
    </div>
</header>
