<div class="optionalContent">
    <p>Не забывайте подписываться на наши новости в блоке слева, а также на наши аккаунты в социальных сетях: <a href="#">FB</a>,
        <a href="#">Vkontakte</a>, <a href="#">Instagram</a>.</p>
</div>