<div class="paginator">
    <span class="paginatorItem active">Посмотреть всё</span>
    <a class="paginatorItem" href="#">1</a>
    <a class="paginatorItem" href="#">2</a>
    <a class="paginatorItem next" href="#">...</a>
    <a class="paginatorItem end" href="#">»</a>
</div>
