<div id="popupContainer" class="popupContainer">
    <div id="btnPopupContainerClose" class="btnCross"></div>
    <div class="popupInner">
        <div class="menuMobile">
            <ul class="menuMobileList">
                <li class="menuMobileListItem">
                    <a href="#" class="menuMobileLink menuMobileLinkJS">Женское</a>
                    <ul class="menuMobileList menuMobileList--asSubMenu">
                        <li class="menuMobileListItem">
                            <a href="catalog.html" class="menuMobileLink">Новинки</a>
                        </li>
                        <li class="menuMobileListItem">
                            <a href="catalog.html" class="menuMobileLink">Одежда</a>
                        </li>
                        <li class="menuMobileListItem">
                            <a href="catalog.html" class="menuMobileLink">Обувь</a>
                        </li>
                        <li class="menuMobileListItem">
                            <a href="catalog.html" class="menuMobileLink">Аксессуары</a>
                        </li>
                    </ul>
                </li>
                <li class="menuMobileListItem">
                    <a href="#" class="menuMobileLink menuMobileLinkJS">Мужское</a>
                    <ul class="menuMobileList menuMobileList--asSubMenu">
                        <li class="menuMobileListItem active">
                            <a href="catalog.html" class="menuMobileLink">Новинки</a>
                        </li>
                        <li class="menuMobileListItem">
                            <a href="catalog.html" class="menuMobileLink">Одежда</a>
                        </li>
                        <li class="menuMobileListItem">
                            <a href="catalog.html" class="menuMobileLink">Обувь</a>
                        </li>
                        <li class="menuMobileListItem">
                            <a href="catalog.html" class="menuMobileLink">Аксессуары</a>
                        </li>
                    </ul>
                </li>
                <li class="menuMobileListItem">
                    <a href="#" class="menuMobileLink menuMobileLinkJS">Outlet</a>
                </li>
            </ul>
        </div>
        <div class="menu menu--mobile">
            <a class="menuLink" href="news.html">Новости</a>
            <a class="menuLink" href="brands.html">Бренды</a>
            <a class="menuLink" href="history.html">История</a>
            <a class="menuLink" href="address.html">Адреса</a>
        </div>
    </div>
    <div class="form form--Mobile">
        <form>
            <input class="formField" type="text" placeholder="email" />
            <input class="formButton" type="submit" value="Подписаться" />
        </form>
    </div>
    <div class="popupBottom">
        <div class="menu menu--headerBottom">
            <a class="menuLink" href="payment.html">Оплата</a>
            <a class="menuLink" href="delivery.html">Доставка</a>
        </div>
        {% include('./_socials.njk') %}
    </div>
</div>
