{% from 'macros/helpers.html' import spriteForLink, sprite %}

<div class="socials">
  {{spriteForLink('icon-instagram', 'socialsLink', '#')}}
  {{spriteForLink('icon-fb', 'socialsLink', '#')}}
  {{spriteForLink('icon-vk', 'socialsLink', '#')}}
  {{spriteForLink('icon-telegram', 'socialsLink', '#')}}
</div>
