.socialShareLinks
  h3.socialShareLinksTitle Поделиться новостью
  ul.socialShareLinksList
    li.socialShareLinksListItem
      a.link.socialShareLinksListLink.socialShareLinksListLink--fb(href='https://www.facebook.com/sharer.php?u=xxx') Facebook
    li.socialShareLinksListItem
      a.link.socialShareLinksListLink.socialShareLinksListLink--vk(href='https://vk.com/share.php?url=xxx') Vkontakte
    li.socialShareLinksListItem
      a.link.socialShareLinksListLink.socialShareLinksListLink--telegram(href='https://telegram.me/share/url?url=xxx') Telegram
