{% from 'macros/helpers.html' import spriteForLink, sprite %}

<div class="socials">
  {{spriteForLink('icon-instagram', 'socialsLink socialsLink--instagram', '#')}}
  {{spriteForLink('icon-fb', 'socialsLink socialsLink--fb', '#')}}
  {{spriteForLink('icon-vk', 'socialsLink socialsLink--vk', '#')}}
  {{spriteForLink('icon-telegram', 'socialsLink socialsLink--telegram', '#')}}
</div>
