include ../macros/helpers.pug

.socials
  +spriteForLink('icon-instagram', 'socials__link', '#')
  +spriteForLink('icon-fb', 'socials__link', '#')
  +spriteForLink('icon-vk', 'socials__link', '#')
  +spriteForLink('icon-telegram', 'socials__link', '#')

