//Core styles
.modal {
  align-items: center;
  background-color: color(var(--c-white) l(90%));
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100000000;

  &.active {
    display: flex;
  }
}

.modalContainer {
  background-color: var(--c-white);
  background-image: url('../../img/img-modal.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 286px auto;
  border: 1px solid var(--c-black);
  max-width: 668px;
  min-height: 333px;
  padding-left: 286px;
  padding-top: 42px;
  position: relative;
  width: 100%;
  z-index: 1;
  @media (--m) {
    background-image: none;
    max-width: 360px;
    padding-left: 0;
  }

  .logo {
    margin-bottom: 20px;
    width: 229px;
  }
}

.modalClose {
  background: url('../../img/img-cross.svg') center center no-repeat;
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 19px;
  top: 15px;
  width: 20px;
  z-index: 2;
}
//End core styles

//Mods

//End mods
