header.header(data-controller='header')
  .container
    include ./_header-top.pug
    nav.nav.nav--header
      .nav__links
        a.nav__link.link(href='news.html') Новости
        a.nav__link.link(href='brands.html') Бренды
        a.nav__link.link(href='history.html') История
        a.nav__link.link(href='address.html') Адреса
        a.nav__link.link(href='basket.html') Корзина
    include ./_mobile-menu.pug
