<section class="header__top">
  <a href="#" id="burger-btn" class="burger-btn" data-target="header.burgerBtn" data-action="click->header#onBurgerBtnClick">
    <span class="burger-btn__body"></span>
  </a>
  <a href="index.html" class="logo">
      <img class="logoImg" src="https://daynight.ru/custom/day/img/logo.svg" alt="">
  </a>
  <a href="basket.html" class="basket-btn">
    {{sprite('icon-basket')}}
  </a>
</section>
