//Core styles
.address__img-wrapper {
  width: 100%;
  @media (--m) {
    display: block;
    max-width: 520px;
  }
}

.address__img {
  width: 100%;
}

.address__heading {
  @include textNormalSize();
  border-bottom: 1px solid transparent;
  left: 0;
  padding: 20px 25px 10px;
  position: absolute;
  top: 0;
  width: 100%;
  @media (--m) {
    border-bottom: 0;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 0;
    position: static;
    width: auto;
  }

  &:hover {
    cursor: pointer;
  }
}

.address__arrow {
  @include setTransitionFor(0.2s, transform);
  background-image: svg-load("../icons/svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 10px;
  position: absolute;
  right: 30px;
  top: 50%;
  width: 10px;
  @media (--m) {
    display: none;
  }
}

.address__container {
  padding-top: 46px;
  @media (--m) {
    display: flex;
    padding-top: 0;
  }
}

.address__info {
  padding: 0 25px;
  @media (--m) {
    display: block;
    padding-top: 0;
  }
}

.address__streets {
  margin: 25px 0 10px;
  white-space: nowrap;
  width: 100%;
  @media (--m) {
    margin: 0;
    white-space: normal;
  }
}

.address__street {
  @include textNormalSize();
  display: inline-block;
  white-space: normal;
  width: 50%;
  @media (--m) {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
  }
}

.address__phone {
  @include textNormalSize();
}

.address {
  position: relative;
  @media (--m) {
    & + & {
      margin-top: 30px;
    }
  }

  &.is-collapsed {
    @media (--m) {
      .spoiler__collapsable {
        max-height: initial;
        opacity: 1;
      }
    }

    .address__heading {
      border-bottom-color: var(--c-black);
    }

    .address__arrow {
      transform: scale(-1);
    }
  }
}
//End core styles
//Mods

//End mods
