//Core styles
.socials {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 120px;
}

.socials__link {
  height: 18px;
  width: 18px;
}
//End core styles

//Mods

//End mods
