//Core styles
.socials {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 120px;
  width: 100%;
}

.socials__link {
  height: 18px;
  width: 18px;
}
//End core styles

//Mods

//End mods
