// GUI styles

.h1 {
  @extend .f-weight-light;
  @include rhythm(36, 36);
}

.h2 {
  @extend .f-weight-light;
  @include rhythm(30, 36);
}

.h3 {
  @extend .f-weight-light;
  @include rhythm(24, 27);
}

.h4 {
  @extend .f-weight-light;
  @include rhythm(18, 18);
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

.c-gold {
  color: var(--gold);
}

.f-weight-light {
  font-weight: 300;
}

.f-weight-normal {
  font-weight: 400;
}

.f-style-italic {
  font-style: italic;
}


.arrow-right {
  @extend .f-weight-light;
  @include arrowSmall(right);
}

.arrow-left {
  @extend .f-weight-light;
  @include arrowSmall(left);
}


.sprite,
.link-as-icon {
  display: inline-block;
}

.icon-cross {
  display: none;
  position: absolute;
  width: 25px;
  height: 25px;
  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 15px;
    left: 50%;
    top: 50%;
    background-color: var(--black);
    @media (--xl) {
      background-color: color(var(--black) l(50%));
      @include setTransitionFor(background);
    }
  }
  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:hover {
    &:after,
    &:before {
      background-color: var(--black);
    }
  }
}

.arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  &:hover {
    cursor: pointer;
  }
  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 15px;
    background-color: color(var(--black) l(80%));
    @include setTransitionFor(background);
  }
  &--prev {
    left: -32px;
    &:after,
    &:before {
      left: 0;
      transform: translateY(-50%, -50%);
    }
    &:after {
      transform-origin: 0 100%;
      transform: rotate(45deg);
    }
    &:before {
      transform-origin: 0 100%;
      transform: rotate(-45deg);
    }
  }
  &--next {
    right: -32px;
    &:after,
    &:before {
      right: 0;
      transform: translateY(-50%, -50%);
    }
    &:after {
      transform-origin: 100% 0%;
      transform: rotate(45deg);
    }
    &:before {
      transform-origin: 100% 0%;
      transform: rotate(-45deg);
    }
  }
  &:hover {
    &:after,
    &:before {
      background-color: color(var(--black) l(0));
    }
  }
}


