// Mixins

@mixin rhythm($sizeValue, $heightValue) {
  font-size: $sizeValue + px;;
  line-height: $heightValue / $sizeValue;
}

@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

@mixin reset-button {
  overflow : visible;
  margin : 0;
  padding : 0;
  border : 0;
  background : transparent;
  font : inherit;
  line-height : normal;
  cursor : pointer;
  -moz-user-select : text;

  &::-moz-focus-inner {
      padding : 0;
      border : 0;
  }
}

@mixin setTransitionFor($properties...) {
  transition: 0.2s ease-in-out;
  transition-property: $properties;
}

@mixin arrowSmall($side) {
  position: relative;
  display: inline-block;
  @if $side == right {
    &:after,
    &:before {
      vertical-align: text-bottom;
    }
    &:after {
      content: '>';
      margin-left: 10px;
    }
  } @else {
    &:before {
      content: '<';
      margin-right: 10px;
    }
  }
}



@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}


// Legacy mixins

@mixin font($fontSize, $fontName, $lineHeight) {
  font-size: $fontSize;
  font-family: $fontName;
  line-height: $lineHeight / $fontSize;
}

@mixin textNormalSize() {
  @include font(11px, var(--HelveticaNeue), 17px);
  font-weight: 300;
  letter-spacing: 1px;
}

@mixin textNormalForMenu() {
  @include textNormalSize();
  line-height: 15px;
}

@mixin textSmallSize() {
  @include font(9px, var(--HelveticaNeue), 17px);
  font-weight: 300;
  letter-spacing: 1px;
}

@mixin arrow() {
  width: 17px;
  height: 7px;
  position: relative;
  overflow: hidden;

  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 11px;
    height: 7px;
    border-top: 1px solid var(--c-black);
    top: 0;
  }

  &:after {
    left: 0;
    transform-origin: left top;
    transform: rotate(32deg);
  }

  &:before {
    right: 0;
    transform-origin: right top;
    transform: rotate(-32deg);
  }
}

@mixin arrowSmall() {
  width: 11px;
  height: 6px;
  position: relative;
  overflow: hidden;

  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 3px;
    border-top: 1px solid var(--c-black);
    top: 0;
  }

  &:after {
    left: 0;
    transform-origin: left top;
    transform: rotate(32deg);
  }

  &:before {
    right: 0;
    transform-origin: right top;
    transform: rotate(-32deg);
  }
}
