// Some kind of resets

//Core styles
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul,
li,
html,
body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  border: 0;
  height: auto;
}

select {
  display: none;
}

//End core styles
//Mods

//End mods
