.socialShareLinks {
  padding: 40px 0;
  width: 100%;
}

.socialShareLinksTitle {
  @include textNormalSize();
  color: var(--c-black);
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.socialShareLinksList {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.socialShareLinksListItem {
  border-left: 1px solid var(--c-black);
  display: inline-block;
  height: 27px;
  text-align: center;
  width: calc(100% / 3);

  &:first-child {
    border-left: 0;
  }
}

.socialShareLinksListLink {
  @include textNormalSize();
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--c-black);
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding-left: 39px;
  vertical-align: middle;
}

//Mods
.socialShareLinksListLink--instagram {
  background-image: url("../img/ico-instagram@2x.png");
}

.socialShareLinksListLink--fb {
  background-image: url("../img/ico-fb@2x.png");
}

.socialShareLinksListLink--vk {
  background-image: url("../img/ico-vk@2x.png");
}

.socialShareLinksListLink--telegram {
  background-image: url("../img/ico-telegram@2x.png");
}

//Media

@media screen and (max-width: 520px) {
  .socialShareLinks {
    border-bottom: 1px solid var(--c-black);
    border-top: 1px solid var(--c-black);
    margin-bottom: 15px;
  }

  .socialShareLinksList {
    align-items: center;
    flex-direction: column;
  }

  .socialShareLinksListItem {
    border-left: 0;
    margin-bottom: 20px;

    &:last-child {
      margin: 0;
    }
  }

  .socialShareLinksListLink {
    background: none;
    padding: 0;
  }
}
