.socialShareLinks{
  padding: 40px 0;
  width: 100%;
}
.socialShareLinksTitle{
  @include textNormalSize();
  color: var(--c-black);
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.socialShareLinksList{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.socialShareLinksListItem{
  width: calc(100% / 3);
  display: inline-block;
  height: 27px;
  text-align: center;
  border-left: 1px solid var(--c-black);

  &:first-child{
    border-left: 0;
  }
}
.socialShareLinksListLink{
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 39px;
  @include textNormalSize();
  line-height: 24px;
  color: var(--c-black);
}

//Mods
.socialShareLinksListLink--instagram{
  background-image: url("../img/ico-instagram@2x.png");
}
.socialShareLinksListLink--fb{
  background-image: url("../img/ico-fb@2x.png");
}
.socialShareLinksListLink--vk{
  background-image: url("../img/ico-vk@2x.png");
}
.socialShareLinksListLink--telegram{
  background-image: url("../img/ico-telegram@2x.png");
}

//Media
@media screen and (max-width: 520px) {
  .socialShareLinks{
    border-top: 1px solid var(--c-black);
    border-bottom: 1px solid var(--c-black);
    margin-bottom: 15px;
  }
  .socialShareLinksList{
    flex-direction: column;
    align-items: center;
  }
  .socialShareLinksListItem{
    border-left: 0;
    margin-bottom: 20px;

    &:last-child{
      margin: 0;
    }
  }
  .socialShareLinksListLink{
    background: none;
    padding: 0;
  }
}
