// Variables

:root {
  --c-white: #fff;
  --c-black: #000;
  --c-grey: #9b9b9b;
  --c-light-grey: #c8c8c8;
  --c-red: #E33705;
  --c-light-indigo: #9013FE;
  --HelveticaNeue: 'HelveticaNeue';
}

// @custom-media --s (width <= 768px);
// @custom-media --m (min-width: 769px);
// @custom-media --xl (min-width: 1025px);
// @custom-media --xl-sm (width <= 1025px);

// Viewposts
$tablet: 768px;
$pre-mobile: 640px;
$mobile: 480px;
