// App styles, imports etc...

@import-normalize;
@import 'utils/vars';
@import 'utils/sprite/sprite';
@import 'utils/mixins';
@import 'utils/resets';
@import 'utils/links';
@import 'utils/radiobuttons';
@import 'utils/buttons';
@import 'utils/GUI';
@import 'utils/socialShareLinks';
@import 'utils/forms/index';

html,
body {
  font-family: var(--HelveticaNeue), Helvetica, Arial, sans-serif;
  font-weight: normal;
  @media (--m) {
    height: 100%;
  }
}

html {
  box-sizing: border-box;
}

body {

  &.mobile-menu-is-open {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 888px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;

  &--padding-off {
    padding-left: 0;
    padding-right: 0;
  }
}

.wrapper {
  min-height: 100%;
  padding-top: 65px;
  position: relative;
  width: 100%;
  @media (--m) {
    min-height: calc(100% - 135px);
    padding-top: 0;
  }
}

.main {
  @extend .container;
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: flex-start;
  min-height: 500px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  @media (--m) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.main__container {
  max-width: 768px;
  width: 100%;
}

.btnCross {
  background: url('../img/img-cross16x16.svg') center center no-repeat;
  cursor: pointer;
  height: 16px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
}

.commonMsg {
  @include textNormalSize();
  margin: 0 0 15px;
}

@import 'components/abc/index';
@import 'components/address/index';
@import 'components/basket/index';
@import 'components/burger/index';
@import 'components/breadcrumbs/index';
@import 'components/filter';
@import 'components/footer/index';
@import 'components/header/index';
@import 'components/latest';
@import 'components/linkToCatalog';
@import 'components/navigation/index';
@import 'components/modals/index';
@import 'components/mobile-menu/index';
@import 'components/optionalContent';
@import 'components/others';
@import 'components/paginator/index';
@import 'components/popup/index';
@import 'components/pluginSelect';
@import 'components/productCard';
@import 'components/sidebar/index';
@import 'components/spoiler/index';
@import 'components/sliderHorizontal';
@import 'components/socials/index';
@import 'components/post';
@import 'components/uniAccordion';
@import 'components/list/index';
@import 'components/text';
@import 'components/tour';
