// App styles, imports etc...

@import-normalize;
@import "utils/_vars";
@import "utils/sprite/_sprite";
@import "./utils/_mixins";
@import "utils/_resets";
@import "utils/_links";
@import "utils/_radiobuttons";
@import "utils/_buttons";
@import "utils/_GUI";
@import "utils/socialShareLinks";

html,
body {
  font-family: var(--HelveticaNeue), Helvetica, Arial, sans-serif;
  font-weight: normal;
  @media (--m) {
    height: 100%;
  }
}

html {
  box-sizing: border-box;
}

body {
  &.mobile-menu-is-open {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 888px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
  margin: 0 auto;
  &--padding-off {
    padding-left: 0;
    padding-right: 0;
  }
}

.wrapper {
  position: relative;
  padding-top: 65px;
  width: 100%;
  min-height: 100%;
  @media (--m) {
    padding-top: 0;
    min-height: calc(100% - 135px);
  }
}

.btnCross {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  right: 0;
  overflow: hidden;
  background: url("../img/img-cross16x16.svg") center center no-repeat;
  cursor: pointer;
}

.commonMsg {
  @include textNormalSize();
  margin: 0 0 15px;
}

@import "components/abc";
@import "components/address";
@import "components/basket";
@import "components/burger/index";
@import "components/breadcrumbs";
@import "components/filter";
@import "components/footer";
@import "components/form";
@import "components/header/index";
@import "components/latest";
@import "components/linkToCatalog";
@import "components/main";
@import "components/menu";
@import "components/modal";
@import "components/mobile-menu/index";
@import "components/optionalContent";
@import "components/others";
@import "components/paginator";
@import "components/popupContainer";
@import "components/popupFilter";
@import "components/pluginSelect";
@import "components/productCard";
@import "components/sidebar";
@import "components/sliderHorizontal";
@import "components/socials";
@import "components/post";
@import "components/uniAccordion";
@import "components/uniList";
@import "components/text";
@import "components/tour";
