// App styles, imports etc...

@import-normalize;
@import "utils/sprite/_sprite";
@import "utils/_resets";
@import "utils/_vars";
@import "utils/_links";
@import "utils/_mixins";
@import "utils/_radiobuttons";
@import "utils/_buttons";


html,
body {
  font-family: var(--HelveticaNeue), Helvetica, Arial, sans-serif;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

body {
  &.menu-is-open {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
  margin: 0 auto;
  &--padding-off {
    padding-left: 0;
    padding-right: 0;
  }
}

.page__wrapper {
  position: relative;
  padding-top: 65px;
  width: 100%;
  min-height: 100%;
  @media (--xl) {
    padding-top: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .main {
      flex: 1;
    }
  }
}

@import "utils/socialShareLinks";

@import "components/abc";
@import "components/address";
@import "components/basket";
@import "components/breadcrumbs";
@import "components/common";
@import "components/filter";
@import "components/footer";
@import "components/form";
@import "components/header";
@import "components/latest";
@import "components/linkToCatalog";
@import "components/main";
@import "components/menu";
@import "components/modal";
@import "components/optionalContent";
@import "components/others";
@import "components/paginator";
@import "components/popupContainer";
@import "components/popupFilter";
@import "components/pluginSelect";
@import "components/productCard";
@import "components/sidebar";
@import "components/sliderHorizontal";
@import "components/socials";
@import "components/post";
@import "components/uniAccordion";
@import "components/uniList";
@import "components/text";
@import "components/tour";

