<article class="post">
    <div class="postContent postContent--only20th">
        <img src="img/img-demo1.jpg" alt="">
        <h2>DayNight 20th anniversary</h2>
        <p>Мы запускаем новый проект «DayNight 20th anniversary».<br>
        Проект приурочен к празднованию 20-летнего юбилея DayNight, которое состоится в октябре 2017 года.</p>
        <p>В рамках проекта «DayNight 20th anniversary» мы будем рассказывать о том, как возникла и во что выросла идея DayNight, почему компания получила именно такое название, как создавались и  менялись интерьеры магазинов, о  людях, брендах  и закулисной жизни DayNight.</p>
        <p>Мы подготовим ряд интервью с теми, кто на протяжении 20-ти лет участвует в деятельности DayNight, покажем всю команду компании и услышим от них самые интересные, яркие истории и ситуации, которые произошли за 20 лет.</p>
        <p>Следите за новостями и вскоре узнаете много интересного, в том числе и то, как и где состоится главная вечеринка 2017 года  «DayNight 20th anniversary».</p>
    </div>
    <div class="uniList uniList--withOnlyImgs">
        <a class="uniList__item" href="20th-post.html">
            <span class="uniList__item-cover">
                <img class="uniList__item-cover-img" src="img/img-demo1.jpg" alt="">
            </span>
            <time class="uniList__item-date">28.09.2017</time>
            <span class="uniList__item-title">20-летие DayNight</span>
        </a>
        <a class="uniList__item" href="20th-post.html">
            <span class="uniList__item-cover">
                <img class="uniList__item-cover-img" src="img/img-demo1.jpg" alt="">
            </span>
            <time class="uniList__item-date">28.09.2017</time>
            <span class="uniList__item-title">DAYNIGHT_20/серия 1</span>
        </a>
        <a class="uniList__item" href="20th-post.html">
            <span class="uniList__item-cover">
                <img class="uniList__item-cover-img" src="img/img-demo1.jpg" alt="">
            </span>
            <time class="uniList__item-date">28.09.2017</time>
            <span class="uniList__item-title">DAYNIGHT_20/серия 2</span>
        </a>
    </div>
    <%- partial('_partials/_optionalContent')%>
    <footer class="postFooter">
        <%- partial('_partials/_socials')%>
    </footer>
</article>
