{% extends 'layouts/application.njk' %}

{% block content %}

{% for i in range(0, 2) %}
<div class="address" data-controller="spoiler" data-classname="is-active">
    <div class="address__img-wrapper">
        <img class="address__img" src="https://daynight.ru/userfiles/editor/myimg/423_dn2.png" alt="">
    </div>
    <div>
      <div class="address__build" data-target="spoiler.trigger" data-action="click->spoiler#onTriggerAction">
        <h2 class="address__build-name">Магазин DayNight #{{i}}<span class="address__arrow"></span></h2>
    </div>
    <div class="address__info" data-target="spoiler.container">
        <div class="address__contacts" >
            <div class="address__streets">
                <div class="address__street">
                    Малая Посадская ул. 6
                    Санкт-Петербург
                </div>
                <div class="address__street">
                    Malaya Posadskaya str. 6
                    Saint-Petersburg
                </div>
            </div>
            <div class="address__phone">
                +7 812 234 2300
            </div>
        </div>
    </div>
    </div>

</div>
{% endfor %}

{% endblock %}
