<div class="address active">
    <div class="addressImgWrapper">
        <img class="addressImg" src="img/img-demo1.jpg" alt="">
    </div>
    <div class="addressInfo">
        <div class="addressBuild">
            <h2 class="addressBuildName">Магазин DayNight<span class="addressBuildNameArrow"></span></h2>
        </div>
        <div class="addressPhoneStreetWrapper">
            <div class="addressStreets">
                <div class="addressStreet">
                    Малая Посадская ул. 6
                    Санкт-Петербург
                </div>
                <div class="addressStreet">
                    Malaya Posadskaya str. 6
                    Saint-Petersburg
                </div>
            </div>
            <div class="addressPhone">
                +7 812 234 2300
            </div>
        </div>
    </div>
</div>
<div class="address">
    <div class="addressImgWrapper">
        <img class="addressImg" src="img/img-demo1.jpg" alt="">
    </div>
    <div class="addressInfo">
        <div class="addressBuild">
            <h2 class="addressBuildName">Магазин DayNight Outlet<span class="addressBuildNameArrow"></span></h2>
        </div>
        <div class="addressPhoneStreetWrapper">
            <div class="addressStreets">
                <div class="addressStreet">
                    Малая Посадская ул. 6
                    Санкт-Петербург
                </div>
                <div class="addressStreet">
                    Malaya Posadskaya str. 6
                    Saint-Petersburg
                </div>
            </div>
            <div class="addressPhone">
                +7 812 234 2300
            </div>
        </div>
    </div>
</div>
