{% extends 'layouts/application.njk' %}

{% block content %}

<div class="basket basket--is-empty">
    {% include "components/basket/_promo.njk" %}
    <p class="basketUniStr">Корзина пуста. <a class="basketUniLink" href="#">Перейти к покупкам</a></p>


    {# <div class="basketOrderPayment">
        <h2 class="basketUniTitle">Оплата заказа №147 на сумму 9570 руб.</h2>
        <p class="basketUniStr basketUniStr--grey basketUniStr--small">Оформляя заказ Вы соглашаетесь на обработку и хранение ваших персональных данных.</p>
        <div class="form">
            <form>
                <input type="submit" class="form__button" value="оплатить">
            </form>
        </div>
    </div> #}

    {# {% include "components/basket/_promo.njk" %}

    <ul class="basketProductList">
        {% for item in range(0,2) %}
          <li class="basketProductListItem">
            <div class="basketProductCard">
                <div class="basketProductCardCell">
                    <div class="basketProductCardImgWrapper">
                        <img src="images/content/img-demo4.jpg" alt="" class="basketProductCardImg">
                    </div>
                    <div class="basketProductCardMainInfo">
                        <h3 class="basketProductCardMainInfoTitle">
                            Наименование  #{{item}}<span>товара</span>
                        </h3>
                        <ul class="basketProductCardMainInfoList">
                            <li class="basketProductCardMainInfoListItem">Женское / Джинсы R13</li>
                            <li class="basketProductCardMainInfoListItem">Denim</li>
                            <li class="basketProductCardMainInfoListItem">Размер: 30</li>
                            <li class="basketProductCardMainInfoListItem">Артикул: R13W4021-208</li>
                        </ul>
                    </div>
                </div>
                <div class="basketProductCardCell">

                    <div class="basketProductCardCounter">
                        <h3 class="basketProductCardCountertitle">Количество</h3>
                        <div class="basketProductCardCounterContainer">
                            <span class="basketProductCardCounterButton basketProductCardCounterButton--minus"></span>
                            <input class="basketProductCardCounterValue" type="text" value="1">
                            <span class="basketProductCardCounterButton basketProductCardCounterButton--plus"></span>
                        </div>
                    </div>

                    <div class="basketProductCardUniBox">
                        <h3 class="basketProductCardUniBoxName">Цена/₽</h3>
                        <div class="basketProductCardUniBoxValue">000 000</div>
                    </div>

                    <div class="basketProductCardUniBox">
                        <h3 class="basketProductCardUniBoxName">Скидка</h3>
                        <div class="basketProductCardUniBoxValue">70%</div>
                    </div>

                    <div class="basketProductCardUniBox">
                        <h3 class="basketProductCardUniBoxName">Итого/₽</h3>
                        <div class="basketProductCardUniBoxValue">000 000</div>
                    </div>

                    <div class="basketProductCardRemoveButton">
                        <span class="basketProductCardRemoveButtonText">Удалить</span>
                        <span class="basketProductCardRemoveButtonCross"></span>
                    </div>
                </div>
            </div>
          </li>
        {% endfor %}

    </ul>

    <div class="basketTotalCost">
        <span class="basketTotalCostValue">Итого: 8 820 ₽</span>
    </div>

    <div class="basketUniControl">
        <h3 class="basketUniControlTitle">Способ доставки</h3>
        <div class="basketUniControlItem">
            <div class="basketUniControlItemLabel">Курьерская доставка до&nbsp;двери в&nbsp;любую точку РФ&nbsp;<span class="basketUniControlItemLabelIcon"></span></div>
            <div class="basketUniControlItemDescription">
                <p>Товар доставляется бесплатно курьером до&nbsp;двери Вашего дома при сумме заказа от&nbsp;10 000 рублей.</p>
                <p>В&nbsp;случае заказа на&nbsp;сумму менее 10 000 рублей, доставка будет стоить 750 рублей.</p>
                <p>Стоимость 750 руб.</p>
                <p>Бесплатно от суммы 10000 руб.</p>
            </div>
            <div class="basketUniControlPrice">750 ₽</div>
            <div class="basketUniControlItemControl">
                <input class="basketUniControlItemControlSwitcher" type="radio" id="delivery1" name="delivery" value="courier" checked>
                <label class="basketUniControlItemControlPsuedoSwitcher" for="delivery1"></label>
            </div>
        </div>
        <div class="basketUniControlItem">
            <div class="basketUniControlItemLabel">Самовывоз из магазина в Санкт-Петербурге&nbsp;<span class="basketUniControlItemLabelIcon"></span></div>
            <div class="basketUniControlItemDescription">
                <p>Вы можете самостоятельно забрать свой заказ в магазине в Санкт-Петербурге.</p>
            </div>
            <div class="basketUniControlPrice">0 ₽</div>
            <div class="basketUniControlItemControl">
                <input class="basketUniControlItemControlSwitcher" type="radio" id="delivery2" name="delivery" value="nocourier">
                <label class="basketUniControlItemControlPsuedoSwitcher" for="delivery2"></label>
            </div>
        </div>
    </div>
    <div class="basketTotalCost">
        <span class="basketTotalCostValue">Итого: 8 820 ₽</span>
    </div>
    <div class="basketUniControl">
        <h3 class="basketUniControlTitle">Выберите способ оплаты</h3>
        <div class="basketUniControlItem basketUniControlItem--withRightControl">
            <div class="basketUniControlItemLabel">Оплата банковской картой через Yandex.Касса&nbsp;<span class="basketUniControlItemLabelIcon"></span></div>
            <div class="basketUniControlItemDescription">
                <p>Оформляя заказ Вы соглашаетесь на обработку и хранение ваших персональных данных.</p>
            </div>
            <div class="basketUniControlItemControl">
                <input class="basketUniControlItemControlSwitcher" type="radio" id="payment1" name="payment" value="yandex" checked>
                <label class="basketUniControlItemControlPsuedoSwitcher" for="payment1"></label>
            </div>
        </div>
        <div class="basketUniControlItem basketUniControlItem--withRightControl">
            <div class="basketUniControlItemLabel">Наличными или картой при самовывозе из магазина&nbsp;<span class="basketUniControlItemLabelIcon"></span></div>
            <div class="basketUniControlItemDescription">
                <p>Заказ необходимо оплатить при получении в магазине. Оформляя заказ Вы соглашаетесь на обработку и хранение ваших персональных данных.</p>
            </div>
            <div class="basketUniControlItemControl">
                <input class="basketUniControlItemControlSwitcher" type="radio" id="payment2" name="payment" value="cash">
                <label class="basketUniControlItemControlPsuedoSwitcher" for="payment2"></label>
            </div>
        </div>
    </div>

    <div class="form">
        <form action="">
            <fieldset class="form__fieldSet">
                <legend class="formLabel formLabel--reqiured">ФИО или название компании</legend>
                <input type="text" class="form__field form__field--withFullBorder" required>
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="formLabel formLabel--reqiured">E-mail</legend>
                <input type="text" class="form__field form__field--withFullBorder" required>
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="formLabel formLabel--reqiured">Контактные телефоны (с кодом города)</legend>
                <input type="text" class="form__field form__field--withFullBorder" required>
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="formLabel formLabel--reqiured">Индекс</legend>
                <input type="text" class="form__field form__field--withFullBorder" >
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="formLabel formLabel--reqiured">Город</legend>
                <input type="text" class="form__field form__field--withFullBorder" required>
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="formLabel formLabel--reqiured">Улица, проспект и пр.</legend>
                <input type="text" class="form__field form__field--withFullBorder" >
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="formLabel formLabel--reqiured">Номер дома</legend>
                <input type="text" class="form__field form__field--withFullBorder" >
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="formLabel formLabel--reqiured">Корпус</legend>
                <input type="text" class="form__field form__field--withFullBorder" >
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="formLabel formLabel--reqiured">Квартира, офис</legend>
                <input type="text" class="form__field form__field--withFullBorder" >
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="formLabel formLabel--reqiured">Комментарии</legend>
                <textarea class="formTextarea">
                </textarea>
            </fieldset>
            <fieldset class="form__fieldSet">
                <input class="form__button form__button--width165 form__button--resetMargin" type="submit" value="продолжить">
                <span class="formLegend formLegend--absolutePositionRight">* — Поля, обязательные для заполнения</span>
            </fieldset>
            <p class="formError">* Не все обязательные поля заполнены</p>
        </form>
    </div> #}
</div>

{% endblock %}
