{% extends 'layouts/application.njk' %}

{% block content %}

{# Корзина в состоянии "пусто" #}
<div class="basket basket--is-empty">
    {% include "components/basket/_promo.njk" %}
    <p class="basketUniStr">Корзина пуста. <a class="basketUniLink" href="#">Перейти к покупкам</a></p>
</div>

{# Корзина в состоянии "перейти к оплате заказа" #}
<div class="basket basket--payment">
  <h2 class="basketUniTitle">Оплата заказа №147 на сумму 9570 руб.</h2>
  <p class="basketUniStr basketUniStr--grey basketUniStr--small">Оформляя заказ Вы соглашаетесь на обработку и хранение ваших персональных данных.</p>
  <div class="form">
      <form>
          <input type="submit" class="form__button" value="оплатить">
      </form>
  </div>
</div>

{# Корзина в состоянии "присутствуют товары" #}
<div class="basket basket--is-not-empty">
    {% include "components/basket/_promo.njk" %}

    <ul class="basket__list">
        {% for item in range(0,2) %}
          <li class="basket__item">
            <div class="product-card">
                <div class="product-card__cell">
                    <div class="product-card__img-wrapper">
                        <img src="images/content/img-demo4.jpg" alt="" class="product-card__img">
                    </div>
                    <div class="product-card__info">
                        <h3 class="product-card__title">
                            Наименование  #{{item}}<span>товара</span>
                        </h3>
                        <ul class="product-card__desc">
                            <li class="product-card__desc-item">Женское / Джинсы R13</li>
                            <li class="product-card__desc-item">Denim</li>
                            <li class="product-card__desc-item">Размер: 30</li>
                            <li class="product-card__desc-item">Артикул: R13W4021-208</li>
                        </ul>
                    </div>
                </div>
                <div class="product-card__cell">
                    <div class="counter">
                        <h3 class="counter__title">Количество</h3>
                        <div class="counter__container" data-controller="stepper">
                            <span class="counter__btn counter__btn--minus" data-action="click->stepper#down"></span>
                            <input class="counter__val" type="text" value="1" data-target="stepper.input">
                            <span class="counter__btn counter__btn--plus" data-action="click->stepper#up"></span>
                        </div>
                    </div>

                    <div class="product-card__unibox">
                        <h3 class="product-card__unibox-name">Цена/₽</h3>
                        <div class="product-card__unibox-value">000 000</div>
                    </div>

                    <div class="product-card__unibox">
                        <h3 class="product-card__unibox-name">Скидка</h3>
                        <div class="product-card__unibox-value">70%</div>
                    </div>

                    <div class="product-card__unibox">
                        <h3 class="product-card__unibox-name">Итого/₽</h3>
                        <div class="product-card__unibox-value">000 000</div>
                    </div>

                    <div class="product-card__remove-btn remove-btn">
                        <span class="remove-btn__text">Удалить</span>
                        <span class="remove-btn__icon icon-cross"></span>
                    </div>
                </div>
            </div>
          </li>
        {% endfor %}
    </ul>

    <div class="basket__total-cost">
        <span class="basket__total-cost-val">Итого: 8 820 ₽</span>
    </div>

    <div class="basket__unicontrol">
        <h3 class="basket__unicontrol-title">Способ доставки</h3>
        <div class="basket__unicontrol-item">
            <div class="basket__unicontrol-lable">Курьерская доставка до&nbsp;двери в&nbsp;любую точку РФ&nbsp;<span class="basket__unicontrol-lable-icon"></span></div>
            <div class="basket__unicontrol-desc">
                <p>Товар доставляется бесплатно курьером до&nbsp;двери Вашего дома при сумме заказа от&nbsp;10 000 рублей.</p>
                <p>В&nbsp;случае заказа на&nbsp;сумму менее 10 000 рублей, доставка будет стоить 750 рублей.</p>
                <p>Стоимость 750 руб.</p>
                <p>Бесплатно от суммы 10000 руб.</p>
            </div>
            <div class="basket__unicontrol-price">750 ₽</div>
            <div class="basket__unicontrol-item-controls">
                <input class="basket__unicontrol-switcher" type="radio" id="delivery1" name="delivery" value="courier" checked>
                <label class="basket__unicontrol-pseudoswitcher" for="delivery1"></label>
            </div>
        </div>
        <div class="basket__unicontrol-item">
            <div class="basket__unicontrol-lable">Самовывоз из магазина в Санкт-Петербурге&nbsp;<span class="basket__unicontrol-lable-icon"></span></div>
            <div class="basket__unicontrol-desc">
                <p>Вы можете самостоятельно забрать свой заказ в магазине в Санкт-Петербурге.</p>
            </div>
            <div class="basket__unicontrol-price">0 ₽</div>
            <div class="basket__unicontrol-item-controls">
                <input class="basket__unicontrol-switcher" type="radio" id="delivery2" name="delivery" value="nocourier">
                <label class="basket__unicontrol-pseudoswitcher" for="delivery2"></label>
            </div>
        </div>
    </div>

    <div class="basket__total-cost">
        <span class="basket__total-cost-val">Итого: 8 820 ₽</span>
    </div>

    <div class="basket__unicontrol">
        <h3 class="basket__unicontrol-title">Выберите способ оплаты</h3>
        <div class="basket__unicontrol-item basket__unicontrol-item--withRightControl">
            <div class="basket__unicontrol-lable">Оплата банковской картой через Yandex.Касса&nbsp;<span class="basket__unicontrol-lable-icon"></span></div>
            <div class="basket__unicontrol-desc">
                <p>Оформляя заказ Вы соглашаетесь на обработку и хранение ваших персональных данных.</p>
            </div>
            <div class="basket__unicontrol-item-controls">
                <input class="basket__unicontrol-switcher" type="radio" id="payment1" name="payment" value="yandex" checked>
                <label class="basket__unicontrol-pseudoswitcher" for="payment1"></label>
            </div>
        </div>
        <div class="basket__unicontrol-item basket__unicontrol-item--withRightControl">
            <div class="basket__unicontrol-lable">Наличными или картой при самовывозе из магазина&nbsp;<span class="basket__unicontrol-lable-icon"></span></div>
            <div class="basket__unicontrol-desc">
                <p>Заказ необходимо оплатить при получении в магазине. Оформляя заказ Вы соглашаетесь на обработку и хранение ваших персональных данных.</p>
            </div>
            <div class="basket__unicontrol-item-controls">
                <input class="basket__unicontrol-switcher" type="radio" id="payment2" name="payment" value="cash">
                <label class="basket__unicontrol-pseudoswitcher" for="payment2"></label>
            </div>
        </div>
    </div>

    <div class="basket__form form">
        <form action="">
            <fieldset class="form__fieldSet">
                <legend class="form__label form__label--reqiured">ФИО или название компании</legend>
                <input type="text" class="form__field form__field--withFullBorder" required>
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="form__label form__label--reqiured">E-mail</legend>
                <input type="text" class="form__field form__field--withFullBorder" required>
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="form__label form__label--reqiured">Контактные телефоны (с кодом города)</legend>
                <input type="text" class="form__field form__field--withFullBorder" required>
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="form__label form__label--reqiured">Индекс</legend>
                <input type="text" class="form__field form__field--withFullBorder" >
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="form__label form__label--reqiured">Город</legend>
                <input type="text" class="form__field form__field--withFullBorder" required>
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="form__label form__label--reqiured">Улица, проспект и пр.</legend>
                <input type="text" class="form__field form__field--withFullBorder" >
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="form__label form__label--reqiured">Номер дома</legend>
                <input type="text" class="form__field form__field--withFullBorder" >
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="form__label form__label--reqiured">Корпус</legend>
                <input type="text" class="form__field form__field--withFullBorder" >
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="form__label form__label--reqiured">Квартира, офис</legend>
                <input type="text" class="form__field form__field--withFullBorder" >
            </fieldset>
            <fieldset class="form__fieldSet">
                <legend class="form__label form__label--reqiured">Комментарии</legend>
                <textarea class="formTextarea">
                </textarea>
            </fieldset>
            <fieldset class="form__fieldSet">
                <input class="form__button form__button--width165 form__button--resetMargin" type="submit" value="продолжить">
                <span class="form__legend form__legend--absolutePositionRight">* — Поля, обязательные для заполнения</span>
            </fieldset>
            <p class="form__error">* Не все обязательные поля заполнены</p>
        </form>
    </div>
</div>

{% endblock %}
