<div class="abcMobile">
    <div class="abcMobileCurrentChoice" data-default="Выберите букву">
        <div class="abcMobileCurrentChoiceValue">Выберите букву</div>
        <div class="abcMobileCurrentChoiceReset">Сбросить</div>
    </div>
    <div class="abcMobileGrid">
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">A</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">B</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">C</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">D</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">E</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">F</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">G</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">H</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">J</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">A</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">K</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">L</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">M</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">N</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">O</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">P</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">R</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">S</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">T</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">U</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">V</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">W</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">Y</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">Z</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
        <div class="abcMobileLetter">
            <h3 class="abcMobileLetterName">2</h3>
            <ul class="abcMobileListWords">
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A1</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A2</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A3</a>
                </li>
                <li class="abcMobileListWord">
                    <a href="#" class="abcMobileListLink">A4</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="abc">
    <div class="abcRow">
        <div class="abcLetter">
            <h3 class="abcLetterName">A</h3>
            <ul class="abcListWords">
                <li class="abcListWord active">
                    <a href="#" class="abcListLink">Acne Studios</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">A.F.Vandevorst</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">Alexandre Birman</a>
                </li>
            </ul>
        </div>
        <div class="abcLetter">
            <h3 class="abcLetterName">B</h3>
            <ul class="abcListWords">
                <li class="abcListWord">
                    <a href="#" class="abcListLink">B1</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">B2</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">B3</a>
                </li>
            </ul>
        </div>
        <div class="abcLetter">
            <h3 class="abcLetterName">C</h3>
            <ul class="abcListWords">
                <li class="abcListWord">
                    <a href="#" class="abcListLink">C1</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">C2</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">C3</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="abcRow">
        <div class="abcLetter">
            <h3 class="abcLetterName">D</h3>
            <ul class="abcListWords">
                <li class="abcListWord">
                    <a href="#" class="abcListLink">D1</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">D2</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">D3</a>
                </li>
            </ul>
        </div>
        <div class="abcLetter">
            <h3 class="abcLetterName">E</h3>
            <ul class="abcListWords">
                <li class="abcListWord">
                    <a href="#" class="abcListLink">E1</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">E2</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">E3</a>
                </li>
            </ul>
        </div>
        <div class="abcLetter">
            <h3 class="abcLetterName">F</h3>
            <ul class="abcListWords">
                <li class="abcListWord">
                    <a href="#" class="abcListLink">F1</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">F2</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">F3</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="abcRow">
        <div class="abcLetter">
            <h3 class="abcLetterName">G</h3>
            <ul class="abcListWords">
                <li class="abcListWord">
                    <a href="#" class="abcListLink">G1</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">G2</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">G3</a>
                </li>
            </ul>
        </div>
        <div class="abcLetter">
            <h3 class="abcLetterName">H</h3>
            <ul class="abcListWords">
                <li class="abcListWord">
                    <a href="#" class="abcListLink">H1</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">H2</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">H3</a>
                </li>
            </ul>
        </div>
        <div class="abcLetter">
            <h3 class="abcLetterName">J</h3>
            <ul class="abcListWords">
                <li class="abcListWord">
                    <a href="#" class="abcListLink">J1</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">J2</a>
                </li>
                <li class="abcListWord">
                    <a href="#" class="abcListLink">J3</a>
                </li>
            </ul>
        </div>
    </div>
</div>