{% extends 'layouts/application.njk' %}

{% set alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z' ]%}

{% block content %}

<div class="abc abc--mobile" data-controller="abc">
    <div class="abc__choise">
        <h2 class="abc__choise-value" data-target="abc.heading" data-placeholder="Выберите букву">Выберите букву</h2>
        <button type="button" class="abc__reset-btn" data-target="abc.resetBtn" data-action="click->abc#onResetBtnClick">Сбросить</button>
    </div>
    <div class="abc__grid" data-target="abc.grid" data-action="click->abc#onLettersGridClick">
      {% for letter in alphabet %}
      <div class="abc__letter">
          <h3 class="abc__letter-name">{{letter}}</h3>
          <ul class="abc__listwords">
              {% for i in range(0, 2) %}
              <li class="abc__word">
                  <a href="#" class="abc__letter-link link">{{letter}}is the beset brand {{i}}</a>
              </li>
              {% endfor %}
          </ul>
      </div>
      {% endfor %}
    </div>
</div>


<div class="abc abc--desktop">
  {% for letter in range(0,3) %}
    <div class="abc__column">
        {% for letter in range(0,10) %}
        <div class="abc__letter">
            <h3 class="abc__letter-name">A</h3>
            <ul class="abc__listwords">
                <li class="abc__word">
                    <a href="#" class="abc__list-link link">Acne Studios</a>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
  {% endfor %}
</div>

{% endblock %}
