<div class="productCard">
    <div class="breadcrumbs">
        <a href="catalog.html" class="breadcrumbsLink">в каталог</a>
    </div>
    <div class="productCardInner">
        <div class="productGallery">
            <div class="productGalleryContainer">
                <img class="productGalleryImg" src="img/img-demo4.jpg" alt="">
            </div>
            <div class="productGalleryNavigation">
                <div class="productGalleryNavigationArrow"></div>
                <div class="productGalleryNavigationArrow"></div>
            </div>
        </div>
        <div class="productMainContent">
            <h1 class="productName">
                <a class="productNameLink" href="https://daynight.ru/shop/wildfox/">Wildfox</a>
            </h1>
            <p class="productString">
                <span class="productType">Платье</span>
                <span class="productVendorCode">Артикуль: H06HW603 FW17</span>
                <span class="productPrice">58 830 ₽</span>
            </p>
            <div class="productSizes">
                <span class="productCurrentSize">
                    <span class="productCurrentSizeLabel">Размер</span>
                    <span class="productCurrentSizeValue">2</span>
                </span>
                <span class="productTableOfSizesAnchor">Таблица размеров</span>
                <div class="productTableOfSizesWrapper">
                    <div class="productTableOfSizes">
                        <div class="productTableOfSizesRow">
                            <div class="productTableOfSizesCell"></div>
                            <div class="productTableOfSizesCell"></div>
                        </div>
                    </div>
                    <!--<table class="productTableOfSizes" cellspacing="0" cellpadding="0">-->
                    <!--<tr>-->
                    <!--<td>Одежда</td>-->
                    <!--<td>XS</td>-->
                    <!--<td>S</td>-->
                    <!--<td>M</td>-->
                    <!--<td>L</td>-->
                    <!--<td>XL</td>-->
                    <!--<td>XXL</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>Italy</td>-->
                    <!--<td>44</td>-->
                    <!--<td>46</td>-->
                    <!--<td>48</td>-->
                    <!--<td>50</td>-->
                    <!--<td>52</td>-->
                    <!--<td>54</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>France</td>-->
                    <!--<td>44</td>-->
                    <!--<td>46</td>-->
                    <!--<td>48</td>-->
                    <!--<td>50</td>-->
                    <!--<td>52</td>-->
                    <!--<td>54</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>Japan</td>-->
                    <!--<td>0</td>-->
                    <!--<td>1</td>-->
                    <!--<td>2</td>-->
                    <!--<td>3</td>-->
                    <!--<td>4</td>-->
                    <!--<td>5</td>-->
                    <!--</tr>-->
                    <!--</table>-->
                    <!--<table class="productTableOfSizes" cellspacing="0" cellpadding="0">-->
                    <!--<tr>-->
                    <!--<td>Джинсы</td>-->
                    <!--<td>XS</td>-->
                    <!--<td>S</td>-->
                    <!--<td>M</td>-->
                    <!--<td>L</td>-->
                    <!--<td>XL</td>-->
                    <!--<td>XXL</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td></td>-->
                    <!--<td>28-29</td>-->
                    <!--<td>30-31</td>-->
                    <!--<td>32-33</td>-->
                    <!--<td>34-35</td>-->
                    <!--<td>36-37</td>-->
                    <!--<td>38</td>-->
                    <!--</tr>-->
                    <!--</table>-->
                    <!--<table class="productTableOfSizes" cellspacing="0" cellpadding="0">-->
                    <!--<tr>-->
                    <!--<td>Обувь</td>-->
                    <!--<td>XS</td>-->
                    <!--<td>S</td>-->
                    <!--<td>M</td>-->
                    <!--<td>L</td>-->
                    <!--<td>XL</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>Europe</td>-->
                    <!--<td>40</td>-->
                    <!--<td>40.5</td>-->
                    <!--<td>41</td>-->
                    <!--<td>41.5</td>-->
                    <!--<td>42</td>-->
                    <!--<td>42.5</td>-->
                    <!--<td>43</td>-->
                    <!--<td>43.5</td>-->
                    <!--<td>44</td>-->
                    <!--<td>44.5</td>-->
                    <!--<td>45</td>-->
                    <!--<td>46</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>US</td>-->
                    <!--<td>7</td>-->
                    <!--<td>7.5</td>-->
                    <!--<td>8</td>-->
                    <!--<td>8.5</td>-->
                    <!--<td>9</td>-->
                    <!--<td>9.5</td>-->
                    <!--<td>10</td>-->
                    <!--<td>10.5</td>-->
                    <!--<td>11</td>-->
                    <!--<td>11.5</td>-->
                    <!--<td>12</td>-->
                    <!--<td>13</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>Japan</td>-->
                    <!--<td>21</td>-->
                    <!--<td>21.5</td>-->
                    <!--<td>22</td>-->
                    <!--<td>22.5</td>-->
                    <!--<td>23</td>-->
                    <!--<td>23.5</td>-->
                    <!--<td>24</td>-->
                    <!--<td>24.5</td>-->
                    <!--<td>25</td>-->
                    <!--<td>25.5</td>-->
                    <!--<td>26</td>-->
                    <!--<td>27</td>-->
                    <!--</tr>-->
                    <!--</table>-->
                </div>
            </div>
            <div class="productCardGrid">
                <div class="productCardGridCell">
                    <div id="productDescription" class="productDescription">
                        <p class="productDescriptionLabel">Описание</p>
                        <div class="productDescriptionInner">
                            <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

                            <p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
                        </div>
                        <span class="productDescriptionBtn">подробнее</span>
                    </div>
                    <p class="productString">Размер на модели: 2</p>
                    <p class="productString">Уход: химчистка</p>
                    <p class="productString">Состав: 54% вискоза, 46% ацетат</p>
                    <p class="productString">Размерная сетка бренда: Usa</p>
                </div>
                <div class="productCardGridCell">
                    <p class="productString"><strong>Доступно в DayNight на Малой Посадской 5</strong></p>
                </div>
            </div>
            <div class="productCardFooter">
                <%- partial('_partials/_socials')%>
            </div>
        </div>
    </div>
</div>