{% extends 'layouts/application.njk' %}

{% block content %}

<div class="productCard">
    <div class="breadcrumbs">
        <a href="catalog.html" class="breadcrumbs__link link"><i class="breadcrumbs__link-icon"></i>в каталог</a>
    </div>
    <div class="productCardInner">
        <div class="productGallery">
            <div class="productGalleryContainer is-initing" data-controller="card-slider">
                <img class="productGalleryImg" src="images/content/img-catalog-card.jpg" alt="" data-zoom="images/content/img-catalog-card.jpg" data-target="card-slider.slide">
                <img class="productGalleryImg" src="images/content/img-catalog-card-1.jpg" alt="" data-zoom="images/content/img-catalog-card-1.jpg" data-target="card-slider.slide">
                <img class="productGalleryImg" src="images/content/img-catalog-card-2.jpg" alt="" data-zoom="images/content/img-catalog-card-2.jpg" data-target="card-slider.slide">
            </div>
        </div>
        <div class="productMainContent">
            <h1 class="productName">
                <a class="productNameLink" href="https://daynight.ru/shop/wildfox/">Wildfox</a>
            </h1>
            <p class="productString">
                <span class="productType">Платье</span>
                <span class="productVendorCode">Артикуль: H06HW603 FW17</span>
                <span class="productPrice">58 830 ₽</span>
            </p>
            <div class="productSizes">
                <span class="productCurrentSize">
                    <span class="productCurrentSizeLabel">Размер</span>
                    <span class="productCurrentSizeValue">2</span>
                </span>
                <span class="productTableOfSizesAnchor">Таблица размеров</span>
                <div class="productTableOfSizesWrapper">
                    <div class="productTableOfSizes">
                        <div class="productTableOfSizesRow">
                            <div class="productTableOfSizesCell"></div>
                            <div class="productTableOfSizesCell"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="productCardGrid">
                <div class="productCardGridCell">
                    <div id="productDescription" class="productDescription">
                        <p class="productDescriptionLabel">Описание</p>
                        <div class="show-more is-collapsed" data-controller="show-more" data-show-more-length="15">
                          <div class="productDescriptionInner">
                              <p data-target="show-more.string" data-action="click->show-more#onTriggerAction">Сайт рыбатекст поможет  дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.

                              По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
                          </div>
                          <span class="productDescriptionBtn" data-target="show-more.trigger" data-action="click->show-more#onTriggerAction">подробнее</span>
                        </div>
                    </div>
                    <p class="productString">Размер на модели: 2</p>
                    <p class="productString">Уход: химчистка</p>
                    <p class="productString">Состав: 54% вискоза, 46% ацетат</p>
                    <p class="productString">Размерная сетка бренда: Usa</p>
                </div>
                <div class="productCardGridCell">
                    <input class="form__button" type="button" value="в корзину" />
                    <input class="form__button form__button--favorite" type="button" value="в избранное" />
                </div>
                <div class="productCardGridCell">
                    <div class="uniAccordion spoiler is-collapsed" data-controller="spoiler" data-classname="is-collapsed">
                        <p class="uniAccordionName spoiler__trigger" data-target="spoiler.trigger" data-action="click->spoiler#onTriggerAction">Доставка и возврат <span class="uniAccordionNameArrow"></span></p>
                        <div class="uniAccordionContainer spoiler__collapsable is-collapsed" data-target="spoiler.willHidden">
                          <p><strong>Доставка</strong></p>
                          <p>Все заказы, оформленные в нашем магазине, доставляются исключительно проверенными курьерскими службами из рук в руки по всей территории РФ. После обработки заказа, на указанный контактный адрес электронной почты Вам будет выслан номер для отслеживания отправления. Бесплатная доставка по территории РФ возможна при покупке от 15 000 ₽.</p>
                          <p><strong>Возврат</strong></p>
                          <p>Согласно закону "О защите прав потребителя" обмен и возврат товара надлежащего качества возможен в течение 14 дней со дня получения заказа.</p>
                          <p><a href="#">Ознакомиться с условиями полностью</a></p>
                        </div>
                    </div>

                    <div class="uniAccordion spoiler is-collapsed" data-controller="spoiler" data-classname="is-collapsed">
                        <p class="uniAccordionName spoiler__trigger" data-target="spoiler.trigger" data-action="click->spoiler#onTriggerAction">Задать вопрос <span class="uniAccordionNameArrow"></span></p>
                        <div class="uniAccordionContainer spoiler__collapsable is-collapsed" data-target="spoiler.willHidden">
                          <div class="form">
                            <form action="">
                                <fieldset class="form__fieldSet">
                                    <legend class="form__label">ФИО</legend>
                                    <input type="text" class="form__field form__field--withFullBorder" required>
                                </fieldset>
                                <fieldset class="form__fieldSet">
                                    <legend class="form__label">E-mail</legend>
                                    <input type="text" class="form__field form__field--withFullBorder" required>
                                </fieldset>
                                <fieldset class="form__fieldSet">
                                    <legend class="form__label">Ваш вопрос</legend>
                                    <textarea class="formTextarea"></textarea>
                                </fieldset>
                                <fieldset class="form__fieldSet">
                                    <input class="form__button form__button--width165 form__button--resetMargin" type="submit" value="отправить">
                                </fieldset>
                                <p class="productString productString--grey">Нажимая &laquo;отправить&raquo; вы соглашаетесь на обработку персональных данных в соответствии с
                                    <a href="#">Политикой конфиденциальности</a>
                                </p>
                            </form>
                          </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="productCardFooter">
                {% include "components/_socials.njk" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}



