<%- partial('_partials/_filter')%>
<div class="uniList uniList--long">
    <a class="uniList__item uniList__item--sale" href="card.html">
        <span class="uniList__item-cover">
            <img class="uniList__item-cover-img" src="img/img-demo1.jpg" alt="">
        </span>
        <span class="uniList__item-title">Платье Helmut Lang</span>
        <span class="uniList__item-price">58 830 ₽</span>
    </a>
    <a class="uniList__item uniList__item--new" href="card.html">
        <span class="uniList__item-cover">
            <img class="uniList__item-cover-img" src="img/img-demo1.jpg" alt="">
        </span>
        <span class="uniList__item-title">Платье Helmut Lang</span>
        <span class="uniList__item-price">58 830 ₽</span>
    </a>
    <a class="uniList__item" href="card.html">
        <span class="uniList__item-cover">
            <img class="uniList__item-cover-img" src="img/img-demo1.jpg" alt="">
        </span>
        <span class="uniList__item-title">Платье Helmut Lang</span>
        <span class="uniList__item-price">58 830 ₽</span>
    </a>
    <a class="uniList__item" href="card.html">
        <span class="uniList__item-cover">
            <img class="uniList__item-cover-img" src="img/img-demo1.jpg" alt="">
        </span>
        <span class="uniList__item-title">Платье Helmut Lang</span>
        <span class="uniList__item-price">58 830 ₽</span>
    </a>
    <a class="uniList__item" href="card.html">
        <span class="uniList__item-cover">
            <img class="uniList__item-cover-img" src="img/img-demo1.jpg" alt="">
        </span>
        <span class="uniList__item-title">Платье Helmut Lang</span>
        <span class="uniList__item-price">58 830 ₽</span>
    </a>
    <a class="uniList__item" href="card.html">
        <span class="uniList__item-cover">
            <img class="uniList__item-cover-img" src="img/img-demo1.jpg" alt="">
        </span>
        <span class="uniList__item-title">Платье Helmut Lang</span>
        <span class="uniList__item-price">58 830 ₽</span>
    </a>
    <a class="uniList__item" href="card.html">
        <span class="uniList__item-cover">
            <img class="uniList__item-cover-img" src="img/img-demo1.jpg" alt="">
        </span>
        <span class="uniList__item-title">Платье Helmut Lang</span>
        <span class="uniList__item-price">58 830 ₽</span>
    </a>
    <a href="#" class="uniList__item uniList__item--zero"></a>
</div>

<div class="paginator">
    <span class="paginatorItem active">1</span>
    <a class="paginatorItem" href="#">2</a>
    <a class="paginatorItem next" href="#">...</a>
    <a class="paginatorItem end" href="#">»</a>
</div>

<p class="commonMsg">Извините, ничего не найдено.</p>
