<%- partial('_partials/_filter')%>
<div class="uniList uniList--long">
    <a class="uniItem uniItem--sale" href="card.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <span class="uniItemTitle">Платье Helmut Lang</span>
        <span class="uniItemPrice">58 830 ₽</span>
    </a>
    <a class="uniItem uniItem--new" href="card.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <span class="uniItemTitle">Платье Helmut Lang</span>
        <span class="uniItemPrice">58 830 ₽</span>
    </a>
    <a class="uniItem" href="card.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <span class="uniItemTitle">Платье Helmut Lang</span>
        <span class="uniItemPrice">58 830 ₽</span>
    </a>
    <a class="uniItem" href="card.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <span class="uniItemTitle">Платье Helmut Lang</span>
        <span class="uniItemPrice">58 830 ₽</span>
    </a>
    <a class="uniItem" href="card.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <span class="uniItemTitle">Платье Helmut Lang</span>
        <span class="uniItemPrice">58 830 ₽</span>
    </a>
    <a class="uniItem" href="card.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <span class="uniItemTitle">Платье Helmut Lang</span>
        <span class="uniItemPrice">58 830 ₽</span>
    </a>
    <a class="uniItem" href="card.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <span class="uniItemTitle">Платье Helmut Lang</span>
        <span class="uniItemPrice">58 830 ₽</span>
    </a>
    <a href="#" class="uniItem uniItem--zero"></a>
</div>

<div class="paginator">
    <span class="paginatorItem active">1</span>
    <a class="paginatorItem" href="#">2</a>
    <a class="paginatorItem next" href="#">...</a>
    <a class="paginatorItem end" href="#">»</a>
</div>

<p class="commonMsg">Извините, ничего не найдено.</p>