extends ../layouts/application.pug

block content
  article.post
    header.postHeader
      h1.postTitle Доставка
    .postContent
      p
        | Все заказы, оформленные в нашем магазине доставляются исключительно проверенными курьерскими службами из рук в руки по всей территории РФ. После обработки заказа, на указанный контактный email адрес Вам будет выслан номер для отслеживания отправления.
      h2 Возврат
      p
        | Согласно закону "О защите прав потребителя" обмен и возврат товара надлежащего качества возможен в течение 14 дней со дня получения заказа.
      p Мы принимает возвраты только при соблюдении следующих правил:
      ul
        li
          | товары должны быть новыми и не подвергались носке, стирке или другому воздействию
        li все фирменный бирки производителя и магазина DayNight сохранены и не сорваны
        li обувь должна быть без следов носки, подошва чистая и в идеальном состоянии
      p
        | Не подлежат обмену или возврату и будут отправлены обратно покупателю за его счет следующие товары:
      ul
        li ювелирные изделия
        li нижнее белье
        li купальники
        li косметика
        li изделия со следами носки
      h2 Возврат товаров в Санкт-петербурге.
      p
        | В Санкт-Петербурге вернуть или обменять товары можно в наших магазинах в рабочее время.
      p Возврат товаров для клиентов из других городов России.
      p
        | Возврат заказов клиентами не из Санкт-Петербурга может быть осуществлен с помощью любой курьерской службы по адресу - г. Санкт-Петербург, Малая Посадская улица д.6, Магазин DayNight. телефон для связи: +7 812 234 23 00. (оплата услуг курьерской компании производится за счет клиента)
        br
        |         Обратите внимание: вместе с вещами, которые Вы хотите вернуть, должны быть вложены:
      ul
        li
          | заявление на возврат в простой письменной форме (должны быть указаны личные данные покупателя, информация о возвращаемом товаре и причины возврата)
        li копия паспорта
        li копия чека
      h2 Возврат денежных средств
      p
        | При возврате товара возмещение денежных средств производится в течение 10 рабочих дней на банковскую карту или с помощью перевода наличных денежных средств (ст. 22 Закона РФ «О защите прав потребителей»), за исключением покупок, осуществленных за наличный расчет непосредственно в магазине.
      p
        | Убедительная просьба - о факте возврата сообщать заранее по телефону или на электронный адрес. После того, как вы отправили вещи, пожалуйста, сообщите номер отправления, чтобы мы могли отследить возврат. В противном случае интернет-магазин не несет ответственность за возможную потерю Вашего возврата.
