<article class="post">
    <div class="postContent">
        <img src="img/img-demo1.jpg" alt="">
        <p>18 сентября в галерее Old Sessions House в Лондоне начала работу выставка «Here We Are», организованная Домом Burberry и посвященная известнейшим фотографам-документалистам XX века.</p>
        <p>Кураторами выставки выступили президент и креативный директор Burberry Кристофер Бейли, владелица магазина Claire de Rouen Люси Кумара Мур, а также Аласдер Маклеллан. Помимо фотографий, рассказывающих о жизни британцев в прошлом веке, на выставке представлены работы российского дизайнера Гоши Рубчинского. Среди них — фотографии моделей в вещах, созданных Гошей в коллаборации с Burberry, а также его инсталляции, проекции и принты. Выставка продлится две недели, занимая 14 различных залов и комнат галереи.</p>
    </div>
    <footer class="postFooter">
        <%- partial('_partials/_socials')%>
    </footer>
</article>