{% extends 'layouts/application.njk' %}
{% from 'macros/helpers.html' import spriteForLink,sprite %}

{% block content %}

<div class="list">
   {% for i in range(0, 9) %}
    <a class="list__item link" href="post.html">
        <span class="list__item-cover">
            <img class="list__item-cover-img" src="https://daynight.ru/userfiles/news/newslist/2/12089_5-novinok-v-daynight-na-posadsko.jpg" alt="">
        </span>
        <time class="list__item-date">28.09.2017</time>
        <p class="list__item-title">5 новинок недели</p>
    </a>

  {% endfor %}
</div>

{% include('components/_pagination.njk') %}

{% endblock %}
