<div class="uniList">
    <a class="uniItem" href="post.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <time class="uniItemDate">28.09.2017</time>
        <span class="uniItemTitle">5 новинок недели</span>
    </a>
    <a class="uniItem" href="post.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <time class="uniItemDate">28.09.2017</time>
        <span class="uniItemTitle">5 новинок недели</span>
    </a>
    <a class="uniItem" href="post.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <time class="uniItemDate">28.09.2017</time>
        <span class="uniItemTitle">5 новинок недели</span>
    </a>
    <a class="uniItem" href="post.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <time class="uniItemDate">28.09.2017</time>
        <span class="uniItemTitle">5 новинок недели</span>
    </a>
    <a class="uniItem" href="post.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <time class="uniItemDate">28.09.2017</time>
        <span class="uniItemTitle">5 новинок недели</span>
    </a>
    <a class="uniItem" href="post.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <time class="uniItemDate">28.09.2017</time>
        <span class="uniItemTitle">5 новинок недели</span>
    </a>
    <a class="uniItem" href="post.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <time class="uniItemDate">28.09.2017</time>
        <span class="uniItemTitle">5 новинок недели</span>
    </a>
    <a class="uniItem" href="post.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <time class="uniItemDate">28.09.2017</time>
        <span class="uniItemTitle">5 новинок недели</span>
    </a>
    <a class="uniItem" href="post.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <time class="uniItemDate">28.09.2017</time>
        <span class="uniItemTitle">5 новинок недели</span>
    </a>
    <a class="uniItem" href="post.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <time class="uniItemDate">28.09.2017</time>
        <span class="uniItemTitle">5 новинок недели</span>
    </a>
    <a class="uniItem" href="post.html">
        <span class="uniItemCover">
            <img class="uniItemCoverImg" src="img/img-demo1.jpg" alt="">
        </span>
        <time class="uniItemDate">28.09.2017</time>
        <span class="uniItemTitle">5 новинок недели</span>
    </a>
    <a href="#" class="uniItem uniItem--zero"></a>
</div>

<div class="paginator">
    <span class="paginatorItem active">Посмотреть всё</span>
    <a class="paginatorItem" href="#">2</a>
    <a class="paginatorItem next" href="#">...</a>
    <a class="paginatorItem end" href="#">»</a>
</div>