<article class="post">
    <header class="postHeader">
        <h1 class="postTitle">Договор оферта</h1>
    </header>
    <div class="postContent">
        <table class="mceItemTable">
            <tbody>
            <tr>
                <td class="xl71">Условия продажи товаров в&nbsp;интернет-магазине daynight.ru для физических лиц</td>
            </tr>
            <tr>
                <td>1. Общие положения</td>
            </tr>
            <tr>
                <td>2. Регистрация на&nbsp;Сайте</td>
            </tr>
            <tr>
                <td>3. Оформление и&nbsp;сроки выполнения Заказа</td>
            </tr>
            <tr>
                <td>4. Доставка</td>
            </tr>
            <tr>
                <td>5. Оплата Товара</td>
            </tr>
            <tr>
                <td>6. Возврат Товара</td>
            </tr>
            <tr>
                <td>7. Интеллектуальная собственность</td>
            </tr>
            <tr>
                <td>8. Гарантии и&nbsp;ответственность</td>
            </tr>
            <tr>
                <td>9. Конфиденциальность и&nbsp;защита персональной информации</td>
            </tr>
            <tr>
                <td>10. Прочие условия</td>
            </tr>
            <tr>
                <td class="xl72">Перечень непродовольственных товаров надлежащего качества, не&nbsp;подлежащих возврату или обмену на&nbsp;аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации</td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td class="xl70">Термины</td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl65">Клиент&nbsp;&mdash; полностью дееспособное физическое лицо, размещающее Заказы на&nbsp;сайте daynight.ru, либо указанное в&nbsp;качестве получателя Товара, либо использующее Товары, приобретенные на&nbsp;сайте daynight.ru, исключительно для личных, семейных, домашних и&nbsp;иных нужд, </td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl68">Продавец<span class="font1">&nbsp;&mdash; ООО &laquo;Торговый Дом &laquo;ДиН&raquo; </span></td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl65">Интернет-магазин- Интернет-сайт, принадлежащий Продавцу, расположенный на&nbsp;сервере в&nbsp;г. Санкт-Петербург и&nbsp;имеющий адрес в&nbsp;сети Интернет daynight.ru. На&nbsp;нем представлены Товары, предлагаемые Продавцом своим Клиентам для оформления Заказов, а&nbsp;также условия оплаты и&nbsp;доставки этих Заказов Клиентам</td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl65">Сайт&nbsp;&mdash; daynight.ru</td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl68">Товар<span class="font1">&nbsp;&mdash; объект материального мира, не&nbsp;изъятый из&nbsp;гражданского оборота и&nbsp;представленный к&nbsp;продаже на&nbsp;Сайте. </span></td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl68">Заказ<span class="font1">&nbsp;&mdash; должным образом оформленный запрос Клиента на&nbsp;доставку по&nbsp;указанному адресу перечня Товаров, выбранных на&nbsp;Сайте. Заказ может быть оформлен как в&nbsp;целях заключения договора розничной купли-продажи, так и&nbsp;для осуществления обмена или замены Товаров по&nbsp;ранее заключенному договору в&nbsp;случаях, предусмотренных законодательством РФ.</span></td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl68">Пользовательский счет клиента<span class="font1">&nbsp;&mdash; персональный счет Клиента в&nbsp;Онлайн мегамаркете, на&nbsp;который производится зачисление денежных средств в&nbsp;случае аннуляции ранее оплаченного им&nbsp;Заказа или Товара, активации подарочного сертификата, а&nbsp;так&nbsp;же в&nbsp;иных аналогичных случаях. Эти денежные средства подлежат использованию в&nbsp;качестве предоплаты за&nbsp;последующие Заказы Клиента у&nbsp;Продавца, либо возврату Клиенту в&nbsp;соответствии с&nbsp;правилами пункта 6.3. настоящих Условий. </span></td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl68">Аннуляция<span class="font1"> </span><span class="font5">Заказа или Товара&nbsp;</span><span class="font1">&mdash; техническое действие Продавца, не&nbsp;подразумевающее отказ Продавца от&nbsp;исполнения договора, которое осуществляется на&nbsp;Сайте и&nbsp;констатирует факт того, что некоторые Товары в&nbsp;составе Заказа (аннуляция Товара) либо все Товары в&nbsp;составе Заказа (аннуляция Заказа) не&nbsp;переданы Клиенту по&nbsp;текущему Заказу. Продавец обязан уведомить зарегистрированных Клиентов обо всех случаях аннуляции,&nbsp;&mdash; в&nbsp;том числе в&nbsp;случаях отказа от&nbsp;Товаров по&nbsp;инициативе Клиента&nbsp;&mdash; путем направления электронного сообщения об&nbsp;аннуляции по&nbsp;электронному адресу, указанному Клиентом при регистрации (либо сообщения в&nbsp;раздел &laquo;Мои сообщения&raquo;).</span></td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl68">Служба доставки<span class="font1">&nbsp;&mdash; третье лицо, оказывающее по&nbsp;договору с&nbsp;Продавцом услуги по&nbsp;доставке Заказов Клиентам. </span></td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl65">Внешний сайт&nbsp;&mdash; сайт в&nbsp;глобальной сети Интернет, ссылка на&nbsp;который размещена на&nbsp;сайте daynight.ru</td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl70">1. Общие положения</td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl68">1.1.<span class="font1"> Сайт принадлежит и&nbsp;администрируется ООО &laquo;Торговый Дом &laquo;ДиН&raquo;. </span></td>
            </tr>
            <tr>
                <td class="xl68">1.2.<span class="font1"> Заказывая Товары через интернет-магазин, Клиент соглашается с&nbsp;Условиями продажи товаров (далее&nbsp;&mdash; Условия), изложенными ниже.</span></td>
            </tr>
            <tr>
                <td class="xl68">1.3.<span class="font1"> Настоящие Условия, также информация о&nbsp;Товаре, представленная на&nbsp;Сайте, являются публичной офертой в&nbsp;соответствии со&nbsp;ст.435 и&nbsp;ч.2 ст.437&nbsp;ГК РФ. </span></td>
            </tr>
            <tr>
                <td class="xl68">1.4.<span class="font1"> К&nbsp;отношениям между Клиентом и&nbsp;Продавцом применяются положения ГК&nbsp;РФ&nbsp;о&nbsp;розничной купле-продаже (&sect;&nbsp;2&nbsp;глава&nbsp;30), а&nbsp;также Закон РФ&nbsp;&laquo;О&nbsp;защите прав потребителей&raquo; от&nbsp;07.02.1992 &#8470;&nbsp;2300-1 и&nbsp;иные правовые акты, принятые в&nbsp;соответствии с&nbsp;ними. </span></td>
            </tr>
            <tr>
                <td class="xl68">1.5.<span class="font1"> Продавец оставляет за&nbsp;собой право вносить изменения в&nbsp;настоящие Условия, в&nbsp;связи с&nbsp;чем, Клиент обязуется регулярно отслеживать изменения в&nbsp;Условиях, размещенных в&nbsp;разделе &laquo;Помощь&raquo;. </span></td>
            </tr>
            <tr>
                <td class="xl68">1.6.<span class="font1"> Клиент соглашается с&nbsp;Условиями нажатием кнопки &laquo;Подтвердить заказ&raquo; на&nbsp;последнем этапе оформления Заказа на&nbsp;Сайте либо путем дачи согласия оператору при оформлении Заказа по&nbsp;телефону.</span></td>
            </tr>
            <tr>
                <td class="xl68">1.7. <span class="font1">Условия продажи содержат пункты с&nbsp;активными гиперссылками на&nbsp;конкретные тематические разделы с&nbsp;более подробной информацией, которые являются неотъемлемой частью Условий продажи. Способ обеспечения доступа к&nbsp;тем или иным частям настоящих Условий посредством активных гиперссылок является общепринятым способом размещения информации в&nbsp;сети Интернет. </span></td>
            </tr>
            <tr>
                <td class="xl68">1.8.<span class="font1"> В&nbsp;случае проведения стимулирующих мероприятий&nbsp;&mdash; акций, в&nbsp;условиях акций, размещаемых на&nbsp;Сайте, могут быть установлены специальные положения, регулирующие порядок оформления заказа и&nbsp;возврата товара. При этом условия акций являются неотъемлемой частью настоящих Условий продажи, и&nbsp;подлежат применению для лиц, участвующих в&nbsp;акциях. </span></td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl70">2. Регистрация на&nbsp;Сайте</td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl72">2.1. Для оформления Заказа Клиенту на&nbsp;Сайте регистрация не&nbsp;требуется. </td>
            </tr>
            <tr>
                <td class="xl72">Клиенту необходимо самостоятельно отслеживать статус заказа путем обращения в&nbsp;Службу по&nbsp;работе с&nbsp;клиентами.</td>
            </tr>
            <tr>
                <td class="xl68">2.2.<span class="font1"> Продавец не&nbsp;несет ответственности за&nbsp;точность и&nbsp;правильность информации, предоставляемой Клиентом. </span></td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl70">3. Оформление и&nbsp;сроки выполнения Заказа</td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl72">3.1. Заказ Клиента может быть оформлен следующими способами: принят по&nbsp;телефону или оформлен Клиентом самостоятельно на&nbsp;Сайте.</td>
            </tr>
            <tr>
                <td class="xl68">3.2.<span class="font1"> При оформлении Заказа Клиент должен указать следующую информацию:</span></td>
            </tr>
            <tr>
                <td class="xl69">Ф.И.О. Клиента либо Получателя Заказа</td>
            </tr>
            <tr>
                <td class="xl69">адрес доставки Заказа</td>
            </tr>
            <tr>
                <td class="xl69">контактный телефон.</td>
            </tr>
            <tr>
                <td class="xl72">3.3. После оформления Заказа Клиенту предоставляется информация об&nbsp;ожидаемой дате передачи Заказа в&nbsp;Службу доставки. Эта дата означает срок, в&nbsp;который Продавец обязуется передать Заказ Клиента в&nbsp;выбранную им&nbsp;при оформлении Заказа Службу доставки. Указанная дата зависит от&nbsp;наличия заказанных Товаров на&nbsp;складе Продавца и&nbsp;времени, необходимого на&nbsp;обработку Заказа..</td>
            </tr>
            <tr height="84">
                <td class="xl72" height="84">3.4. Если Клиентом оформлен Заказ на&nbsp;Товар в&nbsp;количестве, превышающем 10&nbsp;единиц одного наименования Товара, и&nbsp;если на&nbsp;складе у&nbsp;Продавца отсутствует необходимое количество заказанного Товара, Продавец информирует об&nbsp;этом Клиента посредством направления электронного сообщения. Сообщение направляется по&nbsp;электронному адресу, указанному при регистрации, и/или направляется в&nbsp;раздел &laquo;Сообщения&raquo;. Клиент вправе согласиться принять Товар в&nbsp;количестве, имеющемся в&nbsp;наличии у&nbsp;Продавца, либо аннулировать данную позицию Товара из&nbsp;Заказа. В&nbsp;случае неполучения ответа Клиента в&nbsp;течение 14&nbsp;дней Продавец оставляет за&nbsp;собой право аннулировать данный Товар из&nbsp;Заказа. </td>
            </tr>
            <tr>
                <td class="xl68">3.4.1.<span class="font1"> Продавец вправе аннулировать Заказы Клиента, содержащие Товары, от&nbsp;которых ранее Клиент отказался 5&nbsp;и&nbsp;более раз, указав причины, не&nbsp;связанные с&nbsp;наличием недостатков в&nbsp;этих Товарах. </span></td>
            </tr>
            <tr>
                <td class="xl68">3.4.2.<span class="font1"> Продавец вправе отказать в&nbsp;заключении договора и&nbsp;оформлении Заказа, если у&nbsp;Клиента уже оформлены и&nbsp;не&nbsp;получены другие ранее оформленные Заказы на&nbsp;общую сумму 50&nbsp;тысяч рублей и&nbsp;выше. </span></td>
            </tr>
            <tr>
                <td class="xl68">3.5.<span class="font1"> Товар в&nbsp;разделах &laquo;Косметика</span><span class="font1">&raquo; может выставляется в&nbsp;продажу в&nbsp;единственном экземпляре. Клиенту, намеревающемуся приобрести Товар в&nbsp;количестве более одного, необходимо связаться со&nbsp;Службой по&nbsp;работе с&nbsp;клиентами через </span><span class="font6">Обратную связь</span><span class="font1"> или по&nbsp;телефонам&nbsp;8 (812) 234-23-00 (Санкт-Петербург) для уточнения наличия или отсутствия возможности такого приобретения.</span></td>
            </tr>
            <tr>
                <td class="xl68">3.6<span class="font1">. Информация о&nbsp;наличии Товара на&nbsp;складе Продавца и&nbsp;ожидаемый срок поставки Товара на&nbsp;склад Продавца указываются на&nbsp;Сайте на&nbsp;странице Товара. Конечные сроки получения Заказа Клиентом зависят от&nbsp;адреса и&nbsp;региона доставки, работы конкретной Службы доставки, и&nbsp;напрямую не&nbsp;зависят от&nbsp;Продавца. </span></td>
            </tr>
            <tr>
                <td class="xl68">3.7.<span class="font1"> Все информационные материалы о&nbsp;Товарах, представленные на&nbsp;Сайте, носят справочный характер и&nbsp;не&nbsp;могут в&nbsp;полной мере передавать достоверную информацию о&nbsp;свойствах и&nbsp;характеристиках Товара, включая цвета, размеры и&nbsp;формы. В&nbsp;случае возникновения у&nbsp;Клиента вопросов, касающихся свойств и&nbsp;характеристик Товара, перед оформлением Заказа, Клиент должен обратиться к&nbsp;Продавцу. </span></td>
            </tr>
            <tr>
                <td class="xl72">3.8. При оформлении некоторых Заказов Клиент может выбрать способ формирования Заказа в&nbsp;одно или несколько отправлений.</td>
            </tr>
            <tr>
                <td class="xl68">3.9.<span class="font1"> Если в&nbsp;соответствии с&nbsp;требованиями законодательства необходима проверка работоспособности Товара перед передачей его Клиенту, такая проверка осуществляется на&nbsp;складе Продавца до&nbsp;передачи Товара в&nbsp;Службу Доставки.</span></td>
            </tr>
            <tr>
                <td class="xl68">3.10.<span class="font1"> </span><span class="font5">Оформление Предзаказа</span><span class="font1"> </span></td>
            </tr>
            <tr>
                <td class="xl68">3.10.1.<span class="font1"> Продавцом на&nbsp;Сайте могут быть предложены к&nbsp;оформлению предварительных заказов Товары, еще не&nbsp;поступившие в&nbsp;продажу и&nbsp;не&nbsp;находящиеся на&nbsp;складе Продавца. Указанный Товар оформляется в&nbsp;отдельный заказ (далее&nbsp;&mdash; Предзаказ). </span></td>
            </tr>
            <tr>
                <td class="xl68">3.10.2.1.<span class="font1"> В&nbsp;отношении Товара, который доступен для оформления Предзаказа, на&nbsp;Сайте указывается запланированный срок поступления Товара в&nbsp;продажу, который может быть изменен на&nbsp;основании информации от&nbsp;производителя либо поставщика данного Товара. </span></td>
            </tr>
            <tr>
                <td class="xl68">3.10.2.2.<span class="font1"> В&nbsp;случае изменения срока поступления Товара в&nbsp;продажу Клиенту направляется уведомление на&nbsp;электронный адрес, указанный им&nbsp;при регистрации на&nbsp;Сайте. </span></td>
            </tr>
            <tr>
                <td class="xl68">3.10.3.1.<span class="font1"> Указанная на&nbsp;Сайте цена на&nbsp;Товар, доступный для Предзаказа, не&nbsp;является окончательной. В&nbsp;случае изменения цены производителем или поставщиком Продавца, Продавец вправе изменить цену, в&nbsp;том числе в&nbsp;уже оформленных Предзаказах. При этом оформление Предзаказа по&nbsp;измененной цене производится посредством аннулирования изначального Предзаказа Продавцом с&nbsp;одновременным уведомлением Клиента по&nbsp;электронному адресу, указанному при регистрации на&nbsp;Сайте, и&nbsp;оформления Клиентом Предзаказа на&nbsp;Товар по&nbsp;новой цене. </span></td>
            </tr>
            <tr>
                <td class="xl68">3.10.3.2.<span class="font1"> Клиент вправе отказаться от&nbsp;оформления Предзаказа на&nbsp;Товар по&nbsp;новой цене. В&nbsp;этом случае, при условии, что Предзаказ был оплачен, денежные средства отражаются на&nbsp;пользовательском счете Клиента, а&nbsp;также по&nbsp;письменному заявлению Клиента могут быть возвращены тем способом, которым изначально была произведена предоплата, в&nbsp;соответствии с&nbsp;положениями пункта 6.3. настоящих Условий. Если Предзаказ был оплачен с&nbsp;использованием банковской карты, денежные средства возвращаются на&nbsp;банковскую карту, с&nbsp;которой производилась оплата.</span></td>
            </tr>
            <tr height="120">
                <td class="xl68" height="120">3.10.4.<span class="font1"> Согласно п.1. ст.&nbsp;157&nbsp;ГК РФ&nbsp;при оформлении Предзаказа обязанность Продавца по&nbsp;передаче Товара возникает при условии его поступления в&nbsp;продажу. Если&nbsp;же по&nbsp;не&nbsp;зависящим от&nbsp;Продавца обстоятельствам выпуск Товара в&nbsp;продажу производителем отменяется либо откладывается на&nbsp;неопределенный срок, то&nbsp;Продавец в&nbsp;одностороннем порядке аннулирует Предзаказы. При этом денежные средства, перечисленные Клиентами в&nbsp;счет оплаты Товаров в&nbsp;Предзаказах зачисляются на&nbsp;пользовательский счет Клиента либо по&nbsp;письменному заявлению Клиента могут быть возвращены тем способом, которым изначально была произведена предоплата. Если Предзаказ был оплачен с&nbsp;использованием банковской карты, денежные средства возвращаются на&nbsp;банковскую карту, с&nbsp;которой производилась оплата.</span></td>
            </tr>
            <tr>
                <td class="xl68">3.10.5.<span class="font1"> При поступлении Товара на&nbsp;склад Продавца Предзаказ Клиента уходит в&nbsp;обработку, Клиент информируется об&nbsp;ожидаемой дате передачи Предзаказа в&nbsp;службу доставки в&nbsp;порядке, предусмотренном для Заказов. </span></td>
            </tr>
            <tr>
                <td class="xl68">3.11 Особенности продажи уцененного Товара<span class="font1"> </span></td>
            </tr>
            <tr>
                <td class="xl68">3.11.1.<span class="font1"> Продавец вправе предлагать к&nbsp;продаже Товар, имеющий недостатки, указываемые в&nbsp;описании Товара на&nbsp;сайте, а&nbsp;также в&nbsp;сопроводительной документации к&nbsp;Товару. </span></td>
            </tr>
            <tr>
                <td class="xl68">3.11.2.<span class="font1"> В&nbsp;случае обнаружения Клиентом недостатков, которые не&nbsp;были оговорены продавцом при продаже Товара, Клиент вправе предъявлять требования о&nbsp;безвозмездном устранении недостатков, замене или расторжении договора, предусмотренные законом, если докажет, что недостатки возникли до&nbsp;передачи Товара Клиенту или по&nbsp;причинам, возникшим до&nbsp;передачи. </span></td>
            </tr>
            <tr>
                <td class="xl68">3.12. Аннуляция Заказа или Товара</td>
            </tr>
            <tr>
                <td class="xl68">3.12.1. <span class="font1">Аннуляция Заказа или Товара производится по&nbsp;инициативе Клиента либо Продавца. Продавец аннулирует Заказ в&nbsp;случае</span><span class="font5"> </span><span class="font1">существенного изменения обстоятельств, из&nbsp;которых Клиент и&nbsp;Продавец исходили при оформлении Заказа, и&nbsp;которые сделали исполнение Заказа невозможным. </span></td>
            </tr>
            <tr>
                <td class="xl72">3.12.2. Если исполнение Заказа со&nbsp;стороны Продавца стало невозможным по&nbsp;причинам, не&nbsp;зависящим от&nbsp;воли Клиента или Продавца (в&nbsp;случае закрытия региона доставки Службой доставки, изменения таможенных правил и&nbsp;процедур, закрытия Пункта выдачи заказов, выбранного Клиентом в&nbsp;качестве способа доставки, и&nbsp;других обстоятельств, препятствующих передаче Товара согласованным способом, в&nbsp;том числе в&nbsp;случае утери Заказа при доставке, отсутствии Товара у&nbsp;поставщика данного Товара, непоступление Товаров &laquo;под заказ&raquo; на&nbsp;склад Продавца, отсутствия Товаров на&nbsp;складе в&nbsp;виду выявленного при обработке Заказа брака, пересорта или неработоспособности Товара и&nbsp;т.п.), Продавец обязан незамедлительно уведомить Клиента об&nbsp;этом путем направления электронного сообщения на&nbsp;электронный адрес, указанный при регистрации на&nbsp;Сайте, и/или в&nbsp;раздел &laquo;Сообщения&raquo;, а&nbsp;Клиент&nbsp;&mdash; отказаться от&nbsp;договора купли-продажи либо согласовать новые условия доставки Товаров путем оформления нового Заказа, если Товар есть в&nbsp;продаже. </td>
            </tr>
            <tr>
                <td class="xl72">Если цена Товара существенно увеличилась на&nbsp;момент оформления нового Заказа, перед оформлением Клиенту необходимо связаться со&nbsp;Службой по&nbsp;работе с&nbsp;клиентами через форму Обратной связи. </td>
            </tr>
            <tr>
                <td class="xl67">Неоформление нового Заказа на&nbsp;Товар в&nbsp;течение 30&nbsp;календарных дней с&nbsp;момента аннуляции Заказа, считается отказом Клиента от&nbsp;договора купли-продажи Товаров, в&nbsp;отношении которых исполнение стало невозможным.</td>
            </tr>
            <tr>
                <td class="xl68">3.12.3.<span class="font1"> При аннуляции предоплаченного Заказа или Товара, стоимость аннулированных предоплаченных Товаров отражается на&nbsp;Пользовательском счете Клиента. Эти денежные средства могут быть использованы Клиентом для оплаты новых Заказов или по&nbsp;требованию Клиента возвращены Продавцом Клиенту в&nbsp;соответствии с&nbsp;правилами пункта 6.3. настоящих Условий. Если Заказ был предоплачен с&nbsp;использованием банковской карты, денежные средства возвращаются на&nbsp;банковскую карту, с&nbsp;которой производилась оплата Заказа.</span></td>
            </tr>
            <tr>
                <td class="xl68">3.12.4.<span class="font1"> Продавец вправе аннулировать Заказ при наличии подозрений в&nbsp;том, что данные клиента были неправомерно использованы третьими лицами, в&nbsp;том числе для оплаты Заказа с&nbsp;Пользовательского или балльного счета Клиента. В&nbsp;случае аннуляции Заказа по&nbsp;данному основанию, Клиенту необходимо обратиться к&nbsp;Продавцу через форму обратной связи и&nbsp;по&nbsp;его запросу предоставить данные, идентифицирующие Клиента.</span></td>
            </tr>
            <tr>
                <td class="xl68">3.12.5.<span class="font1"> Продавец вправе аннулировать Заказы в&nbsp;иных случаях, установленных настоящими Условиями.</span></td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl70">4. Доставка</td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl72">4.1. Способы доставки Товаров указаны на&nbsp;Сайте. Согласованным способом доставки считается способ, выбранный Клиентом из&nbsp;доступных способов доставки при оформлении Заказа. </td>
            </tr>
            <tr>
                <td class="xl68">4.2.<span class="font1"> Продавец приложит все усилия для соблюдения сроков доставки, указанных на&nbsp;Сайте, тем не&nbsp;менее, задержки в&nbsp;доставке возможны ввиду непредвиденных обстоятельств, произошедших не&nbsp;по&nbsp;вине Продавца. </span></td>
            </tr>
            <tr>
                <td class="xl68">4.3.<span class="font1"> Риск случайной гибели или случайного повреждения Товара переходит к&nbsp;Клиенту с&nbsp;момента передачи ему Заказа и&nbsp;проставления получателем Заказа подписи в&nbsp;документах, подтверждающих доставку Заказа. В&nbsp;случае недоставки Заказа Продавец возмещает Клиенту стоимость предоплаченного Клиентом Заказа и&nbsp;доставки после получения подтверждения утраты Заказа от&nbsp;Службы доставки. </span></td>
            </tr>
            <tr>
                <td class="xl72">В&nbsp;случае выбора Клиентом в&nbsp;качестве Службы доставки международных почтовых отправлений Почту России риск случайной гибели или случайного повреждения Товара лежит на&nbsp;Продавце в&nbsp;полном объеме до&nbsp;передачи Товара в&nbsp;Службу доставки, После передачи Товара в&nbsp;указанную Службу доставки ответственность Продавца определяется в&nbsp;пределах, установленных международным почтовым законодательством (Всемирной почтовой конвенцией от&nbsp;12&nbsp;августа 2008&nbsp;года).</td>
            </tr>
            <tr>
                <td class="xl72">В&nbsp;случае выбора Клиентом в&nbsp;качестве Службы доставки международных почтовых отправлений Spring Global Mail, а&nbsp;равно иных нерегистрируемых почтовых отправлений, риск случайной гибели или случайного повреждения Товара лежит на&nbsp;Продавце в&nbsp;полном объеме до&nbsp;передачи в&nbsp;Службу доставки, после передачи Товара в&nbsp;указанные Службы доставки, риск случайной гибели или случайного повреждения Товара лежит на&nbsp;Клиенте, поскольку по&nbsp;нерегистрируемым отправлениям невозможно получить подтверждение утраты Товара от&nbsp;Службы доставки.</td>
            </tr>
            <tr>
                <td class="xl67">Клиент вправе выбрать другие способы доставки международных почтовых отправлений без указанных ограничений.</td>
            </tr>
            <tr>
                <td class="xl72">4.4. Стоимость доставки каждого Заказа рассчитывается индивидуально, исходя из&nbsp;его веса, региона и&nbsp;способа доставки, а&nbsp;иногда и&nbsp;формы оплаты, и&nbsp;указывается на&nbsp;последнем этапе оформления Заказа на&nbsp;Сайте.</td>
            </tr>
            <tr>
                <td class="xl68">4.5.<span class="font1"> При доставке Заказ вручается Клиенту либо лицу, указанному в&nbsp;качестве Получателя Заказа. При невозможности получения Заказа, оформленного за&nbsp;наличный расчет, указанными выше лицами, Заказ вручается лицу, готовому предоставить сведения о&nbsp;Заказе (номер отправления и/или ФИО Получателя), а&nbsp;также оплатить стоимость Заказа в&nbsp;полном объеме лицу, осуществляющему доставку Заказа.</span></td>
            </tr>
            <tr>
                <td class="xl72">4.6. Во&nbsp;избежание случаев мошенничества, а&nbsp;также для выполнения взятых на&nbsp;себя в&nbsp;пункте 4.5. Условий обязательств, при вручении предоплаченного Заказа лицо, осуществляющее доставку Заказа, вправе затребовать документ, удостоверяющий личность Получателя, а&nbsp;также указать тип и&nbsp;номер предоставленного Получателем документа на&nbsp;квитанции к&nbsp;Заказу. Продавец гарантирует конфиденциальность и&nbsp;защиту персональной информации Получателя (п.9.3.1.). </td>
            </tr>
            <tr>
                <td class="xl68">4.7.<span class="font1"> При передаче Заказа Клиент в&nbsp;присутствии лица, осуществляющего доставку Заказа, должен проверить внешний вид и&nbsp;упаковку Заказа, количество Товаров в&nbsp;Заказе, внешний вид и&nbsp;упаковку Товаров, комплектность, ассортимент, за&nbsp;исключением случаев получения Заказа через автоматизированные терминалы выдачи Заказов.</span></td>
            </tr>
            <tr>
                <td class="xl72">4.8. Сроки, отведенные Продавцом для получения Заказа Клиентом, ограничены и&nbsp;указываются при оформлении Заказа, на&nbsp;этапе выбора соответствующего способа доставки. </td>
            </tr>
            <tr>
                <td class="xl68">4.9.<span class="font1"> Неполучение Заказа в&nbsp;указанные в&nbsp;п.&nbsp;4.9 Условий сроки считается отказом Клиента от&nbsp;договора купли-продажи и&nbsp;является основанием для аннулирования Заказа Продавцом. Если неполученный Заказ был предоплачен, денежные средства возвращаются Клиенту в&nbsp;порядке, предусмотренном&nbsp;п.&nbsp;3.12.3&nbsp;Условий.</span></td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl70">5. Оплата Товара</td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            <tr>
                <td class="xl68">5.1.<span class="font1"> Цена Товара указывается на&nbsp;Сайте. В&nbsp;случае неверного указания цены заказанного Клиентом Товара, Продавец при первой возможности информирует об&nbsp;этом Клиента для подтверждения Заказа по&nbsp;исправленной цене либо аннулирования Заказа. При невозможности связаться с&nbsp;Клиентом данный Заказ считается аннулированным. Если Заказ был оплачен, Продавец возвращает Клиенту оплаченную за&nbsp;Заказ сумму на&nbsp;банковскую карту, с&nbsp;которой был осуществлен платеж, либо путем ее&nbsp;отражения на&nbsp;Пользовательском счете Клиента, если Товар был предоплачен иными способами. </span></td>
            </tr>
            <tr>
                <td class="xl68">5.2.<span class="font1"> Цена Товара, указанная на&nbsp;Сайте, может быть изменена Продавцом в&nbsp;одностороннем порядке. Цена Товара действительна на&nbsp;момент нажатия кнопки &laquo;Подтвердить заказ&raquo; на&nbsp;последнем этапе оформления Заказа. При этом цена на&nbsp;заказанный Клиентом Товар изменению не&nbsp;подлежит. </span></td>
            </tr>
            <tr>
                <td class="xl72">5.3. Способы оплаты Товара указаны на&nbsp;Сайте в&nbsp;разделе &laquo;Способы оплаты&raquo;. Согласованным способом оплаты считается способ, выбранный Клиентом из&nbsp;доступных способов оплаты при оформлении Заказа.</td>
            </tr>
            <tr>
                <td class="xl68">5.4.<span class="font1"> При предоплате Товаров Заказ принимается в&nbsp;обработку только после зачисления денежных средств Клиента на&nbsp;расчетный счет Продавца. При этом Товар под Заказ резервируется на&nbsp;срок 12&nbsp;календарных дней с&nbsp;момента оформления Заказа (кроме Заказов со&nbsp;способами оплаты почтовым или банковским переводом). По&nbsp;истечении указанного срока резервирование отменяется и&nbsp;Продавец не&nbsp;может гарантировать доступность Товара на&nbsp;складе Продавца, вследствие чего могут увеличиться сроки обработки Заказа. </span></td>
            </tr>
            <tr>
                <td class="xl68">5.5.<span class="font1"> Особенности оплаты Товара с&nbsp;помощью банковских карт, а&nbsp;также электронных средств платежа с&nbsp;привязкой к&nbsp;банковским картам. </span></td>
            </tr>
            <tr>
                <td class="xl68">5.5.1.<span class="font1"> В&nbsp;соответствии с&nbsp;положением ЦБ&nbsp;РФ&nbsp;&laquo;Об&nbsp;эмиссии банковских карт и&nbsp;об&nbsp;операциях, совершаемых с&nbsp;использованием платежных карт&raquo; от&nbsp;24.12.2004 &#8470;&nbsp;266-П операции по&nbsp;банковским картам совершаются держателем карты либо лицом, уполномоченным на&nbsp;основании доверенности, оформленной в&nbsp;соответствии с&nbsp;законодательством. </span></td>
            </tr>
            <tr>
                <td class="xl72">5.5.2.При совершении оплаты Товара с&nbsp;помощью банковской карты в&nbsp;Пункте выдачи заказов Клиент должен предъявить документ, удостоверяющий личность, за&nbsp;исключением случая оплаты неименной банковской картой.</td>
            </tr>
            <tr>
                <td class="xl68">5.5.3.<span class="font1"> Порядок оплаты с&nbsp;помощью банковских карт указан на&nbsp;Сайте в&nbsp;разделе &laquo;</span><span class="font6">Способы оплаты Заказа. Банковская карта</span><span class="font1">&raquo;</span><span class="font6">.</span><span class="font1"> </span></td>
            </tr>
            <tr>
                <td class="xl68">5.5.4.<span class="font1"> Авторизация операций по&nbsp;банковским картам осуществляется банком. Если у&nbsp;банка есть основания полагать, что операция носит мошеннический характер, то&nbsp;банк вправе отказать в&nbsp;осуществлении данной операции. Мошеннические операции с&nbsp;банковскими картами попадают под действие статьи 159&nbsp;УК РФ. </span></td>
            </tr>
            <tr>
                <td class="xl67">Согласно ст.159&nbsp;УК РФ&nbsp;мошенничеством считается хищение чужого имущества или приобретение права на&nbsp;чужое имущество путем обмана или злоупотребления доверием и&nbsp;наказывается штрафом в&nbsp;размере до&nbsp;120&nbsp;000 рублей или в&nbsp;размере заработной платы или иного дохода осужденного за&nbsp;период до&nbsp;1&nbsp;года, либо обязательными работами на&nbsp;срок до&nbsp;360&nbsp;часов, либо исправительными работами на&nbsp;срок до&nbsp;1&nbsp;года, либо арестом на&nbsp;срок до&nbsp;4&nbsp;месяцев, либо ограничением свободы на&nbsp;срок до&nbsp;2&nbsp;лет, либо принудительными работами на&nbsp;срок до&nbsp;2&nbsp;лет, либо лишением свободы на&nbsp;срок до&nbsp;2&nbsp;лет. </td>
            </tr>
            <tr>
                <td class="xl68">5.5.5.<span class="font1"> Во&nbsp;избежание случаев различного рода неправомерного использования банковских карт при оплате, все Заказы, оформленные на&nbsp;Сайте и&nbsp;предоплаченные банковской картой, либо с&nbsp;помощью PayPal, проверяются Продавцом. Продавец оставляет за&nbsp;собой право без объяснения причины аннулировать Заказ. Стоимость Заказа возвращается на&nbsp;банковскую карту владельца либо.</span></td>
            </tr>
            <tr>
                <td class="xl68">5.5.6. <span class="font1">Прием и&nbsp;обработка платежей с&nbsp;использованием банковских карт проводится провайдером электронных платежей Yandex.Касса, либо иным провайдером электронных платежей. Продавец не&nbsp;осуществляет обработку, в&nbsp;том числе сбор и&nbsp;хранение данных банковских карт Клиентов. </span></td>
            </tr>
            <tr>
                <td class="xl72">5.6. Продавец вправе предоставлять Клиенту скидки на&nbsp;Товар и&nbsp;устанавливать программу бонусов. Виды скидок, бонусов, порядок и&nbsp;условия начисления указаны на&nbsp;Сайте в&nbsp;соответствующих тематических блоках раздела &laquo;Помощь&raquo; и&nbsp;могут быть изменены Продавцом в&nbsp;одностороннем порядке. </td>
            </tr>
            <tr>
                <td class="xl72">5.7. Продавец вправе устанавливать скидки в&nbsp;целях продвижения того либо иного способа оплаты или доставки Товара. При этом Продавец может ограничивать условия действия скидок, ограничивать их&nbsp;предельный размер, кроме того скидки не&nbsp;распространяются на&nbsp;Товары по&nbsp;специальной цене.</td>
            </tr>
            <tr>
                <td class="xl67">Скидка может предоставляться на&nbsp;последующий Заказ также в&nbsp;целях компенсации возможного увеличения стоимости Товара при оформлении нового Заказа в&nbsp;случае замены Товара или обмена на&nbsp;аналогичный и&nbsp;в&nbsp;других случаях, когда согласно настоящим Условиям требуется пересчитать стоимость Товара.</td>
            </tr>
            <tr>
                <td class="xl68">5.8.<span class="font1"> При проведении маркетинговых мероприятий, предполагающих вложение каких-либо объектов в&nbsp;Заказы Клиента, доставка указанных вложений осуществляется вместе с&nbsp;Заказом Клиента. Чтобы отказаться от&nbsp;вложения, Клиенту необходимо обратиться в&nbsp;Службу по&nbsp;работе с&nbsp;клиентами.</span></td>
            </tr>
            <tr>
                <td class="xl72">5.10. В&nbsp;стоимость Заказа не&nbsp;включены таможенные пошлины. Условия оплаты и&nbsp;размер таможенных пошлин определяются таможенным законодательством той страны, куда осуществляется доставка Заказа.</td>
            </tr>
            <tr>
                <td class="xl67"></td>
            </tr>
            </tbody>
        </table>
        <h2>Реквизиты организации:</h2>
        <p><strong>ООО &laquo;Торговый Дом &laquo;ДиН&raquo;</strong></p>
        <p><strong>Юридический адрес:</strong> Россия, 197046, г. Санкт-Петербург, ул. Малая Посадская, д.6, лит.А, пом.1Н</p>
        <p>Тел.: 234-23-00</p>
        <p><strong>Платежные реквизиты:</strong></p>
        <p>ИНН/КПП 7813254413/781301001, ОГРН 1167847257533 от&nbsp;14.06.2016&nbsp;г.</p>
        <p>р/с: 40702810900020002867&nbsp;в Филиале ББР Банка (АО), г. Санкт-Петербург</p>
        <p>к/с: 30101810300000000785&nbsp;БИК: 044030785</p>
        <p>ОКПО: 03023834ОКВЭД: 52.42</p>
        <p>ОКАТО: 40288563000, ОКФС: 16&nbsp;ОКОПФ: 12300</p>
        <p>ОКОГУ: 4210014, ОКТМО: 40391000000</p>
        <p><strong>Генеральный директор/Главный бухгалтер</strong></p>
        <p>Булатова Ольга Олеговна</p>
    </div>
    <footer class="postFooter">
        <%- partial('_partials/_socials')%>
    </footer>
</article>
