extends ../layouts/application.pug

block content
  article.post
    header.postHeader
      h1.postTitle Договор оферта
    .postContent
      table.mceItemTable
        tbody
          tr
            td.xl71 Условия продажи товаров в интернет-магазине daynight.ru для физических лиц
          tr
            td 1. Общие положения
          tr
            td 2. Регистрация на Сайте
          tr
            td 3. Оформление и сроки выполнения Заказа
          tr
            td 4. Доставка
          tr
            td 5. Оплата Товара
          tr
            td 6. Возврат Товара
          tr
            td 7. Интеллектуальная собственность
          tr
            td 8. Гарантии и ответственность
          tr
            td 9. Конфиденциальность и защита персональной информации
          tr
            td 10. Прочие условия
          tr
            td.xl72
              | Перечень непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации
          tr
            td
          tr
            td
          tr
            td.xl70 Термины
          tr
            td.xl67
          tr
            td.xl65
              | Клиент — полностью дееспособное физическое лицо, размещающее Заказы на сайте daynight.ru, либо указанное в качестве получателя Товара, либо использующее Товары, приобретенные на сайте daynight.ru, исключительно для личных, семейных, домашних и иных нужд,
          tr
            td.xl67
          tr
            td.xl68
              | Продавец
              span.font1  — ООО «Торговый Дом «ДиН»
          tr
            td.xl67
          tr
            td.xl65
              | Интернет-магазин- Интернет-сайт, принадлежащий Продавцу, расположенный на сервере в г. Санкт-Петербург и имеющий адрес в сети Интернет daynight.ru. На нем представлены Товары, предлагаемые Продавцом своим Клиентам для оформления Заказов, а также условия оплаты и доставки этих Заказов Клиентам
          tr
            td.xl67
          tr
            td.xl65 Сайт — daynight.ru
          tr
            td.xl67
          tr
            td.xl68
              | Товар
              span.font1
                | — объект материального мира, не изъятый из гражданского оборота и представленный к продаже на Сайте.
          tr
            td.xl67
          tr
            td.xl68
              | Заказ
              span.font1
                | — должным образом оформленный запрос Клиента на доставку по указанному адресу перечня Товаров, выбранных на Сайте. Заказ может быть оформлен как в целях заключения договора розничной купли-продажи, так и для осуществления обмена или замены Товаров по ранее заключенному договору в случаях, предусмотренных законодательством РФ.
          tr
            td.xl67
          tr
            td.xl68
              | Пользовательский счет клиента
              span.font1
                | — персональный счет Клиента в Онлайн мегамаркете, на который производится зачисление денежных средств в случае аннуляции ранее оплаченного им Заказа или Товара, активации подарочного сертификата, а так же в иных аналогичных случаях. Эти денежные средства подлежат использованию в качестве предоплаты за последующие Заказы Клиента у Продавца, либо возврату Клиенту в соответствии с правилами пункта 6.3. настоящих Условий.
          tr
            td.xl67
          tr
            td.xl68
              | Аннуляция
              span.font1
              span.font5 Заказа или Товара 
              span.font1
                | — техническое действие Продавца, не подразумевающее отказ Продавца от исполнения договора, которое осуществляется на Сайте и констатирует факт того, что некоторые Товары в составе Заказа (аннуляция Товара) либо все Товары в составе Заказа (аннуляция Заказа) не переданы Клиенту по текущему Заказу. Продавец обязан уведомить зарегистрированных Клиентов обо всех случаях аннуляции, — в том числе в случаях отказа от Товаров по инициативе Клиента — путем направления электронного сообщения об аннуляции по электронному адресу, указанному Клиентом при регистрации (либо сообщения в раздел «Мои сообщения»).
          tr
            td.xl67
          tr
            td.xl68
              | Служба доставки
              span.font1
                | — третье лицо, оказывающее по договору с Продавцом услуги по доставке Заказов Клиентам.
          tr
            td.xl67
          tr
            td.xl65
              | Внешний сайт — сайт в глобальной сети Интернет, ссылка на который размещена на сайте daynight.ru
          tr
            td.xl67
          tr
            td.xl70 1. Общие положения
          tr
            td.xl67
          tr
            td.xl68
              | 1.1.
              span.font1  Сайт принадлежит и администрируется ООО «Торговый Дом «ДиН».
          tr
            td.xl68
              | 1.2.
              span.font1
                | Заказывая Товары через интернет-магазин, Клиент соглашается с Условиями продажи товаров (далее — Условия), изложенными ниже.
          tr
            td.xl68
              | 1.3.
              span.font1
                | Настоящие Условия, также информация о Товаре, представленная на Сайте, являются публичной офертой в соответствии со ст.435 и ч.2 ст.437 ГК РФ.
          tr
            td.xl68
              | 1.4.
              span.font1
                | К отношениям между Клиентом и Продавцом применяются положения ГК РФ о розничной купле-продаже (§ 2 глава 30), а также Закон РФ «О защите прав потребителей» от 07.02.1992 № 2300-1 и иные правовые акты, принятые в соответствии с ними.
          tr
            td.xl68
              | 1.5.
              span.font1
                | Продавец оставляет за собой право вносить изменения в настоящие Условия, в связи с чем, Клиент обязуется регулярно отслеживать изменения в Условиях, размещенных в разделе «Помощь».
          tr
            td.xl68
              | 1.6.
              span.font1
                | Клиент соглашается с Условиями нажатием кнопки «Подтвердить заказ» на последнем этапе оформления Заказа на Сайте либо путем дачи согласия оператору при оформлении Заказа по телефону.
          tr
            td.xl68
              | 1.7.
              span.font1
                | Условия продажи содержат пункты с активными гиперссылками на конкретные тематические разделы с более подробной информацией, которые являются неотъемлемой частью Условий продажи. Способ обеспечения доступа к тем или иным частям настоящих Условий посредством активных гиперссылок является общепринятым способом размещения информации в сети Интернет.
          tr
            td.xl68
              | 1.8.
              span.font1
                | В случае проведения стимулирующих мероприятий — акций, в условиях акций, размещаемых на Сайте, могут быть установлены специальные положения, регулирующие порядок оформления заказа и возврата товара. При этом условия акций являются неотъемлемой частью настоящих Условий продажи, и подлежат применению для лиц, участвующих в акциях.
          tr
            td.xl67
          tr
            td.xl70 2. Регистрация на Сайте
          tr
            td.xl67
          tr
            td.xl72 2.1. Для оформления Заказа Клиенту на Сайте регистрация не требуется.
          tr
            td.xl72
              | Клиенту необходимо самостоятельно отслеживать статус заказа путем обращения в Службу по работе с клиентами.
          tr
            td.xl68
              | 2.2.
              span.font1
                | Продавец не несет ответственности за точность и правильность информации, предоставляемой Клиентом.
          tr
            td.xl67
          tr
            td.xl70 3. Оформление и сроки выполнения Заказа
          tr
            td.xl67
          tr
            td.xl72
              | 3.1. Заказ Клиента может быть оформлен следующими способами: принят по телефону или оформлен Клиентом самостоятельно на Сайте.
          tr
            td.xl68
              | 3.2.
              span.font1  При оформлении Заказа Клиент должен указать следующую информацию:
          tr
            td.xl69 Ф.И.О. Клиента либо Получателя Заказа
          tr
            td.xl69 адрес доставки Заказа
          tr
            td.xl69 контактный телефон.
          tr
            td.xl72
              | 3.3. После оформления Заказа Клиенту предоставляется информация об ожидаемой дате передачи Заказа в Службу доставки. Эта дата означает срок, в который Продавец обязуется передать Заказ Клиента в выбранную им при оформлении Заказа Службу доставки. Указанная дата зависит от наличия заказанных Товаров на складе Продавца и времени, необходимого на обработку Заказа..
          tr(height='84')
            td.xl72(height='84')
              | 3.4. Если Клиентом оформлен Заказ на Товар в количестве, превышающем 10 единиц одного наименования Товара, и если на складе у Продавца отсутствует необходимое количество заказанного Товара, Продавец информирует об этом Клиента посредством направления электронного сообщения. Сообщение направляется по электронному адресу, указанному при регистрации, и/или направляется в раздел «Сообщения». Клиент вправе согласиться принять Товар в количестве, имеющемся в наличии у Продавца, либо аннулировать данную позицию Товара из Заказа. В случае неполучения ответа Клиента в течение 14 дней Продавец оставляет за собой право аннулировать данный Товар из Заказа.
          tr
            td.xl68
              | 3.4.1.
              span.font1
                | Продавец вправе аннулировать Заказы Клиента, содержащие Товары, от которых ранее Клиент отказался 5 и более раз, указав причины, не связанные с наличием недостатков в этих Товарах.
          tr
            td.xl68
              | 3.4.2.
              span.font1
                | Продавец вправе отказать в заключении договора и оформлении Заказа, если у Клиента уже оформлены и не получены другие ранее оформленные Заказы на общую сумму 50 тысяч рублей и выше.
          tr
            td.xl68
              | 3.5.
              span.font1  Товар в разделах «Косметика
              span.font1
                | » может выставляется в продажу в единственном экземпляре. Клиенту, намеревающемуся приобрести Товар в количестве более одного, необходимо связаться со Службой по работе с клиентами через
              span.font6 Обратную связь
              span.font1
                | или по телефонам 8 (812) 234-23-00 (Санкт-Петербург) для уточнения наличия или отсутствия возможности такого приобретения.
          tr
            td.xl68
              | 3.6
              span.font1
                | . Информация о наличии Товара на складе Продавца и ожидаемый срок поставки Товара на склад Продавца указываются на Сайте на странице Товара. Конечные сроки получения Заказа Клиентом зависят от адреса и региона доставки, работы конкретной Службы доставки, и напрямую не зависят от Продавца.
          tr
            td.xl68
              | 3.7.
              span.font1
                | Все информационные материалы о Товарах, представленные на Сайте, носят справочный характер и не могут в полной мере передавать достоверную информацию о свойствах и характеристиках Товара, включая цвета, размеры и формы. В случае возникновения у Клиента вопросов, касающихся свойств и характеристик Товара, перед оформлением Заказа, Клиент должен обратиться к Продавцу.
          tr
            td.xl72
              | 3.8. При оформлении некоторых Заказов Клиент может выбрать способ формирования Заказа в одно или несколько отправлений.
          tr
            td.xl68
              | 3.9.
              span.font1
                | Если в соответствии с требованиями законодательства необходима проверка работоспособности Товара перед передачей его Клиенту, такая проверка осуществляется на складе Продавца до передачи Товара в Службу Доставки.
          tr
            td.xl68
              | 3.10.
              span.font1
              span.font5 Оформление Предзаказа
              span.font1
          tr
            td.xl68
              | 3.10.1.
              span.font1
                | Продавцом на Сайте могут быть предложены к оформлению предварительных заказов Товары, еще не поступившие в продажу и не находящиеся на складе Продавца. Указанный Товар оформляется в отдельный заказ (далее — Предзаказ).
          tr
            td.xl68
              | 3.10.2.1.
              span.font1
                | В отношении Товара, который доступен для оформления Предзаказа, на Сайте указывается запланированный срок поступления Товара в продажу, который может быть изменен на основании информации от производителя либо поставщика данного Товара.
          tr
            td.xl68
              | 3.10.2.2.
              span.font1
                | В случае изменения срока поступления Товара в продажу Клиенту направляется уведомление на электронный адрес, указанный им при регистрации на Сайте.
          tr
            td.xl68
              | 3.10.3.1.
              span.font1
                | Указанная на Сайте цена на Товар, доступный для Предзаказа, не является окончательной. В случае изменения цены производителем или поставщиком Продавца, Продавец вправе изменить цену, в том числе в уже оформленных Предзаказах. При этом оформление Предзаказа по измененной цене производится посредством аннулирования изначального Предзаказа Продавцом с одновременным уведомлением Клиента по электронному адресу, указанному при регистрации на Сайте, и оформления Клиентом Предзаказа на Товар по новой цене.
          tr
            td.xl68
              | 3.10.3.2.
              span.font1
                | Клиент вправе отказаться от оформления Предзаказа на Товар по новой цене. В этом случае, при условии, что Предзаказ был оплачен, денежные средства отражаются на пользовательском счете Клиента, а также по письменному заявлению Клиента могут быть возвращены тем способом, которым изначально была произведена предоплата, в соответствии с положениями пункта 6.3. настоящих Условий. Если Предзаказ был оплачен с использованием банковской карты, денежные средства возвращаются на банковскую карту, с которой производилась оплата.
          tr(height='120')
            td.xl68(height='120')
              | 3.10.4.
              span.font1
                | Согласно п.1. ст. 157 ГК РФ при оформлении Предзаказа обязанность Продавца по передаче Товара возникает при условии его поступления в продажу. Если же по не зависящим от Продавца обстоятельствам выпуск Товара в продажу производителем отменяется либо откладывается на неопределенный срок, то Продавец в одностороннем порядке аннулирует Предзаказы. При этом денежные средства, перечисленные Клиентами в счет оплаты Товаров в Предзаказах зачисляются на пользовательский счет Клиента либо по письменному заявлению Клиента могут быть возвращены тем способом, которым изначально была произведена предоплата. Если Предзаказ был оплачен с использованием банковской карты, денежные средства возвращаются на банковскую карту, с которой производилась оплата.
          tr
            td.xl68
              | 3.10.5.
              span.font1
                | При поступлении Товара на склад Продавца Предзаказ Клиента уходит в обработку, Клиент информируется об ожидаемой дате передачи Предзаказа в службу доставки в порядке, предусмотренном для Заказов.
          tr
            td.xl68
              | 3.11 Особенности продажи уцененного Товара
              span.font1
          tr
            td.xl68
              | 3.11.1.
              span.font1
                | Продавец вправе предлагать к продаже Товар, имеющий недостатки, указываемые в описании Товара на сайте, а также в сопроводительной документации к Товару.
          tr
            td.xl68
              | 3.11.2.
              span.font1
                | В случае обнаружения Клиентом недостатков, которые не были оговорены продавцом при продаже Товара, Клиент вправе предъявлять требования о безвозмездном устранении недостатков, замене или расторжении договора, предусмотренные законом, если докажет, что недостатки возникли до передачи Товара Клиенту или по причинам, возникшим до передачи.
          tr
            td.xl68 3.12. Аннуляция Заказа или Товара
          tr
            td.xl68
              | 3.12.1.
              span.font1
                | Аннуляция Заказа или Товара производится по инициативе Клиента либо Продавца. Продавец аннулирует Заказ в случае
              span.font5
              span.font1
                | существенного изменения обстоятельств, из которых Клиент и Продавец исходили при оформлении Заказа, и которые сделали исполнение Заказа невозможным.
          tr
            td.xl72
              | 3.12.2. Если исполнение Заказа со стороны Продавца стало невозможным по причинам, не зависящим от воли Клиента или Продавца (в случае закрытия региона доставки Службой доставки, изменения таможенных правил и процедур, закрытия Пункта выдачи заказов, выбранного Клиентом в качестве способа доставки, и других обстоятельств, препятствующих передаче Товара согласованным способом, в том числе в случае утери Заказа при доставке, отсутствии Товара у поставщика данного Товара, непоступление Товаров «под заказ» на склад Продавца, отсутствия Товаров на складе в виду выявленного при обработке Заказа брака, пересорта или неработоспособности Товара и т.п.), Продавец обязан незамедлительно уведомить Клиента об этом путем направления электронного сообщения на электронный адрес, указанный при регистрации на Сайте, и/или в раздел «Сообщения», а Клиент — отказаться от договора купли-продажи либо согласовать новые условия доставки Товаров путем оформления нового Заказа, если Товар есть в продаже.
          tr
            td.xl72
              | Если цена Товара существенно увеличилась на момент оформления нового Заказа, перед оформлением Клиенту необходимо связаться со Службой по работе с клиентами через форму Обратной связи.
          tr
            td.xl67
              | Неоформление нового Заказа на Товар в течение 30 календарных дней с момента аннуляции Заказа, считается отказом Клиента от договора купли-продажи Товаров, в отношении которых исполнение стало невозможным.
          tr
            td.xl68
              | 3.12.3.
              span.font1
                | При аннуляции предоплаченного Заказа или Товара, стоимость аннулированных предоплаченных Товаров отражается на Пользовательском счете Клиента. Эти денежные средства могут быть использованы Клиентом для оплаты новых Заказов или по требованию Клиента возвращены Продавцом Клиенту в соответствии с правилами пункта 6.3. настоящих Условий. Если Заказ был предоплачен с использованием банковской карты, денежные средства возвращаются на банковскую карту, с которой производилась оплата Заказа.
          tr
            td.xl68
              | 3.12.4.
              span.font1
                | Продавец вправе аннулировать Заказ при наличии подозрений в том, что данные клиента были неправомерно использованы третьими лицами, в том числе для оплаты Заказа с Пользовательского или балльного счета Клиента. В случае аннуляции Заказа по данному основанию, Клиенту необходимо обратиться к Продавцу через форму обратной связи и по его запросу предоставить данные, идентифицирующие Клиента.
          tr
            td.xl68
              | 3.12.5.
              span.font1
                | Продавец вправе аннулировать Заказы в иных случаях, установленных настоящими Условиями.
          tr
            td.xl67
          tr
            td.xl70 4. Доставка
          tr
            td.xl67
          tr
            td.xl72
              | 4.1. Способы доставки Товаров указаны на Сайте. Согласованным способом доставки считается способ, выбранный Клиентом из доступных способов доставки при оформлении Заказа.
          tr
            td.xl68
              | 4.2.
              span.font1
                | Продавец приложит все усилия для соблюдения сроков доставки, указанных на Сайте, тем не менее, задержки в доставке возможны ввиду непредвиденных обстоятельств, произошедших не по вине Продавца.
          tr
            td.xl68
              | 4.3.
              span.font1
                | Риск случайной гибели или случайного повреждения Товара переходит к Клиенту с момента передачи ему Заказа и проставления получателем Заказа подписи в документах, подтверждающих доставку Заказа. В случае недоставки Заказа Продавец возмещает Клиенту стоимость предоплаченного Клиентом Заказа и доставки после получения подтверждения утраты Заказа от Службы доставки.
          tr
            td.xl72
              | В случае выбора Клиентом в качестве Службы доставки международных почтовых отправлений Почту России риск случайной гибели или случайного повреждения Товара лежит на Продавце в полном объеме до передачи Товара в Службу доставки, После передачи Товара в указанную Службу доставки ответственность Продавца определяется в пределах, установленных международным почтовым законодательством (Всемирной почтовой конвенцией от 12 августа 2008 года).
          tr
            td.xl72
              | В случае выбора Клиентом в качестве Службы доставки международных почтовых отправлений Spring Global Mail, а равно иных нерегистрируемых почтовых отправлений, риск случайной гибели или случайного повреждения Товара лежит на Продавце в полном объеме до передачи в Службу доставки, после передачи Товара в указанные Службы доставки, риск случайной гибели или случайного повреждения Товара лежит на Клиенте, поскольку по нерегистрируемым отправлениям невозможно получить подтверждение утраты Товара от Службы доставки.
          tr
            td.xl67
              | Клиент вправе выбрать другие способы доставки международных почтовых отправлений без указанных ограничений.
          tr
            td.xl72
              | 4.4. Стоимость доставки каждого Заказа рассчитывается индивидуально, исходя из его веса, региона и способа доставки, а иногда и формы оплаты, и указывается на последнем этапе оформления Заказа на Сайте.
          tr
            td.xl68
              | 4.5.
              span.font1
                | При доставке Заказ вручается Клиенту либо лицу, указанному в качестве Получателя Заказа. При невозможности получения Заказа, оформленного за наличный расчет, указанными выше лицами, Заказ вручается лицу, готовому предоставить сведения о Заказе (номер отправления и/или ФИО Получателя), а также оплатить стоимость Заказа в полном объеме лицу, осуществляющему доставку Заказа.
          tr
            td.xl72
              | 4.6. Во избежание случаев мошенничества, а также для выполнения взятых на себя в пункте 4.5. Условий обязательств, при вручении предоплаченного Заказа лицо, осуществляющее доставку Заказа, вправе затребовать документ, удостоверяющий личность Получателя, а также указать тип и номер предоставленного Получателем документа на квитанции к Заказу. Продавец гарантирует конфиденциальность и защиту персональной информации Получателя (п.9.3.1.).
          tr
            td.xl68
              | 4.7.
              span.font1
                | При передаче Заказа Клиент в присутствии лица, осуществляющего доставку Заказа, должен проверить внешний вид и упаковку Заказа, количество Товаров в Заказе, внешний вид и упаковку Товаров, комплектность, ассортимент, за исключением случаев получения Заказа через автоматизированные терминалы выдачи Заказов.
          tr
            td.xl72
              | 4.8. Сроки, отведенные Продавцом для получения Заказа Клиентом, ограничены и указываются при оформлении Заказа, на этапе выбора соответствующего способа доставки.
          tr
            td.xl68
              | 4.9.
              span.font1
                | Неполучение Заказа в указанные в п. 4.9 Условий сроки считается отказом Клиента от договора купли-продажи и является основанием для аннулирования Заказа Продавцом. Если неполученный Заказ был предоплачен, денежные средства возвращаются Клиенту в порядке, предусмотренном п. 3.12.3 Условий.
          tr
            td.xl67
          tr
            td.xl70 5. Оплата Товара
          tr
            td.xl67
          tr
            td.xl68
              | 5.1.
              span.font1
                | Цена Товара указывается на Сайте. В случае неверного указания цены заказанного Клиентом Товара, Продавец при первой возможности информирует об этом Клиента для подтверждения Заказа по исправленной цене либо аннулирования Заказа. При невозможности связаться с Клиентом данный Заказ считается аннулированным. Если Заказ был оплачен, Продавец возвращает Клиенту оплаченную за Заказ сумму на банковскую карту, с которой был осуществлен платеж, либо путем ее отражения на Пользовательском счете Клиента, если Товар был предоплачен иными способами.
          tr
            td.xl68
              | 5.2.
              span.font1
                | Цена Товара, указанная на Сайте, может быть изменена Продавцом в одностороннем порядке. Цена Товара действительна на момент нажатия кнопки «Подтвердить заказ» на последнем этапе оформления Заказа. При этом цена на заказанный Клиентом Товар изменению не подлежит.
          tr
            td.xl72
              | 5.3. Способы оплаты Товара указаны на Сайте в разделе «Способы оплаты». Согласованным способом оплаты считается способ, выбранный Клиентом из доступных способов оплаты при оформлении Заказа.
          tr
            td.xl68
              | 5.4.
              span.font1
                | При предоплате Товаров Заказ принимается в обработку только после зачисления денежных средств Клиента на расчетный счет Продавца. При этом Товар под Заказ резервируется на срок 12 календарных дней с момента оформления Заказа (кроме Заказов со способами оплаты почтовым или банковским переводом). По истечении указанного срока резервирование отменяется и Продавец не может гарантировать доступность Товара на складе Продавца, вследствие чего могут увеличиться сроки обработки Заказа.
          tr
            td.xl68
              | 5.5.
              span.font1
                | Особенности оплаты Товара с помощью банковских карт, а также электронных средств платежа с привязкой к банковским картам.
          tr
            td.xl68
              | 5.5.1.
              span.font1
                | В соответствии с положением ЦБ РФ «Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт» от 24.12.2004 № 266-П операции по банковским картам совершаются держателем карты либо лицом, уполномоченным на основании доверенности, оформленной в соответствии с законодательством.
          tr
            td.xl72
              | 5.5.2.При совершении оплаты Товара с помощью банковской карты в Пункте выдачи заказов Клиент должен предъявить документ, удостоверяющий личность, за исключением случая оплаты неименной банковской картой.
          tr
            td.xl68
              | 5.5.3.
              span.font1  Порядок оплаты с помощью банковских карт указан на Сайте в разделе «
              span.font6 Способы оплаты Заказа. Банковская карта
              span.font1 »
              span.font6 .
              span.font1
          tr
            td.xl68
              | 5.5.4.
              span.font1
                | Авторизация операций по банковским картам осуществляется банком. Если у банка есть основания полагать, что операция носит мошеннический характер, то банк вправе отказать в осуществлении данной операции. Мошеннические операции с банковскими картами попадают под действие статьи 159 УК РФ.
          tr
            td.xl67
              | Согласно ст.159 УК РФ мошенничеством считается хищение чужого имущества или приобретение права на чужое имущество путем обмана или злоупотребления доверием и наказывается штрафом в размере до 120 000 рублей или в размере заработной платы или иного дохода осужденного за период до 1 года, либо обязательными работами на срок до 360 часов, либо исправительными работами на срок до 1 года, либо арестом на срок до 4 месяцев, либо ограничением свободы на срок до 2 лет, либо принудительными работами на срок до 2 лет, либо лишением свободы на срок до 2 лет.
          tr
            td.xl68
              | 5.5.5.
              span.font1
                | Во избежание случаев различного рода неправомерного использования банковских карт при оплате, все Заказы, оформленные на Сайте и предоплаченные банковской картой, либо с помощью PayPal, проверяются Продавцом. Продавец оставляет за собой право без объяснения причины аннулировать Заказ. Стоимость Заказа возвращается на банковскую карту владельца либо.
          tr
            td.xl68
              | 5.5.6.
              span.font1
                | Прием и обработка платежей с использованием банковских карт проводится провайдером электронных платежей Yandex.Касса, либо иным провайдером электронных платежей. Продавец не осуществляет обработку, в том числе сбор и хранение данных банковских карт Клиентов.
          tr
            td.xl72
              | 5.6. Продавец вправе предоставлять Клиенту скидки на Товар и устанавливать программу бонусов. Виды скидок, бонусов, порядок и условия начисления указаны на Сайте в соответствующих тематических блоках раздела «Помощь» и могут быть изменены Продавцом в одностороннем порядке.
          tr
            td.xl72
              | 5.7. Продавец вправе устанавливать скидки в целях продвижения того либо иного способа оплаты или доставки Товара. При этом Продавец может ограничивать условия действия скидок, ограничивать их предельный размер, кроме того скидки не распространяются на Товары по специальной цене.
          tr
            td.xl67
              | Скидка может предоставляться на последующий Заказ также в целях компенсации возможного увеличения стоимости Товара при оформлении нового Заказа в случае замены Товара или обмена на аналогичный и в других случаях, когда согласно настоящим Условиям требуется пересчитать стоимость Товара.
          tr
            td.xl68
              | 5.8.
              span.font1
                | При проведении маркетинговых мероприятий, предполагающих вложение каких-либо объектов в Заказы Клиента, доставка указанных вложений осуществляется вместе с Заказом Клиента. Чтобы отказаться от вложения, Клиенту необходимо обратиться в Службу по работе с клиентами.
          tr
            td.xl72
              | 5.10. В стоимость Заказа не включены таможенные пошлины. Условия оплаты и размер таможенных пошлин определяются таможенным законодательством той страны, куда осуществляется доставка Заказа.
          tr
            td.xl67
      h2 Реквизиты организации:
      p
        strong ООО «Торговый Дом «ДиН»
      p
        strong Юридический адрес:
        |  Россия, 197046, г. Санкт-Петербург, ул. Малая Посадская, д.6, лит.А, пом.1Н
      p Тел.: 234-23-00
      p
        strong Платежные реквизиты:
      p ИНН/КПП 7813254413/781301001, ОГРН 1167847257533 от 14.06.2016 г.
      p р/с: 40702810900020002867 в Филиале ББР Банка (АО), г. Санкт-Петербург
      p к/с: 30101810300000000785 БИК: 044030785
      p ОКПО: 03023834ОКВЭД: 52.42
      p ОКАТО: 40288563000, ОКФС: 16 ОКОПФ: 12300
      p ОКОГУ: 4210014, ОКТМО: 40391000000
      p
        strong Генеральный директор/Главный бухгалтер
      p Булатова Ольга Олеговна
    footer.postFooter
      include ../components/_socials.pug
