<div id="tourDayNight" class="tourDayNight">
    <div class="tourDayNightContainer">
        <div id="tourDayNightSlides" class="tourDayNightSlides">
            <div class="tourDayNightSlide active" data-id="0">
                <div class="tourDayNightSlideCover">
                    <img class="tourDayNightSlideCoverLogo" src="https://daynight.ru/custom/day/img/logo.svg" alt="DAYNIGHT">
                    <p class="tourDayNightSlideCoverTitle">Online tour</p>
                    <p class="tourDayNightSlideCoverAddress">Малая Посадская ул. 6<br>Санкт-Петербург</p>
                </div>
            </div>
        </div>
        <div class="tourDayNightNavigation">
            <div class="tourDayNightNavigationButton tourDayNightNavigationButton--onTop">
                <span>наверх</span>
                <div class="tourDayNightNavigationButtonOption">женская одежда</div>
            </div>
            <div class="tourDayNightNavigationButton tourDayNightNavigationButton--toRight"><span>направо</span><div class="tourDayNightNavigationButtonOption"></div></div>
            <div class="tourDayNightNavigationButton tourDayNightNavigationButton--toBottom">
                <div class="tourDayNightNavigationButtonOption">мужская одежда</div>
                <span>вниз</span>
            </div>
            <div class="tourDayNightNavigationButton tourDayNightNavigationButton--toLeft"><span>налево</span><div class="tourDayNightNavigationButtonOption"></div></div>
        </div>
    </div>
    <div class="tourDayNightFooter">
        <a id="tourDayNightButtonStart" href="#" class="tourDayNightButton tourDayNightButton--start active">начать</a>
        <a id="tourDayNightButtonReset" href="#" class="tourDayNightButton tourDayNightButton--reset">завершить</a>
    </div>
</div>

<div id="tourDayNightLite" class="tourDayNight">
    <div class="tourDayNightContainer">
        <div id="tourDayNightSlides" class="tourDayNightSlides">
            <div class="tourDayNightSlide active" data-id="0">
                <div class="tourDayNightSlideCover">
                    <img class="tourDayNightSlideCoverLogo" src="https://daynight.ru/custom/day/img/logo.svg" alt="DAYNIGHT">
                    <p class="tourDayNightSlideCoverLogoSubtext">Lite</p>
                    <p class="tourDayNightSlideCoverTitle tourDayNightSlideCoverTitle--18">Online tour</p>
                    <p class="tourDayNightSlideCoverAddress">Набережная реки Мойки 59<br>Санкт-Петербург</p>
                </div>
            </div>
        </div>
        <div class="tourDayNightNavigation">
            <div class="tourDayNightNavigationButton tourDayNightNavigationButton--onTop">
                <span>наверх</span>
                <div class="tourDayNightNavigationButtonOption">женская одежда</div>
            </div>
            <div class="tourDayNightNavigationButton tourDayNightNavigationButton--toRight"><span>направо</span><div class="tourDayNightNavigationButtonOption"></div></div>
            <div class="tourDayNightNavigationButton tourDayNightNavigationButton--toBottom">
                <div class="tourDayNightNavigationButtonOption">мужская одежда</div>
                <span>вниз</span>
            </div>
            <div class="tourDayNightNavigationButton tourDayNightNavigationButton--toLeft"><span>налево</span><div class="tourDayNightNavigationButtonOption"></div></div>
        </div>
    </div>
    <div class="tourDayNightFooter">
        <a id="tourDayNightButtonStart" href="#" class="tourDayNightButton tourDayNightButton--start active">начать</a>
        <a id="tourDayNightButtonReset" href="#" class="tourDayNightButton tourDayNightButton--reset">завершить</a>
    </div>
</div>