@import 'burger';

//Core styles
.burger-btn {
  align-items: center;
  display: inline-flex;
  height: 45px;
  justify-content: center;
  transition: transform 0.2s ease;
  width: 40px;

  span {
    @include burger(15px, 1px, 4px, #444);
  }

  &.is-pressed {
    span {
      transform: translate3d(0,0,0) rotate(90deg);
    }
  }
  @media (--m) {
    display: none;
  }
}
//End core styles

//Mods

//End mods
