//Core styles
.filters {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 10;
  background-color: #fff;

  .exit-btn {
    right: 27px;
    top: 0;
    width: 15px;
    height: 15px;
    display: none;
  }

  &.are-open {
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    .exit-btn {
      display: initial;
    }
    .filters__container {
      display: block;
    }
    .filters__trigger {
      color: var(--c-black);
      background-image: svg-load(
        "../icons/svg/icon-filter.svg",
        fill=var(--c-black),
        stroke=var(--c-black)
      );
    }
  }

  @media (--m) {
    padding-left: 0;
    padding-right: 0;
  }
}

.filters__trigger-wr {
  background-color: var(--c-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters__trigger {
  @include setTransitionFor(0.2s, background, color);
  padding-left: 30px;
  vertical-align: middle;
  @include rhythm(11, 11);
  color: var(--c-grey);
  display: block;
  outline: 0;
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-image: svg-load(
    "../icons/svg/icon-filter.svg",
    fill=var(--c-grey),
    stroke=var(--c-grey)
  );
  @media (--m) {
    display: none;
  }
}

.filters__container {
  display: none;
  @media (--m) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
  }
}

.filter {
  @media (--m) {
    flex-grow: 1;
    max-width: 163px;
    &:not(:last-of-type) {
      margin-right: 5px;
    }
  }
}
//End core styles
//Mods
.choices {
  &.is-focused {
    outline: 0;
  }

  &.is-open {
    .choices__list--dropdown {
      display: block;
      @media (--m) {
        position: absolute;
        top: 20px;
        left: 0;
      }
    }
    .choices__list--single {
      &:after {
        transform: scale(1);
      }
    }
  }

  @media (--m) {
    position: relative;

  }
}
.choices__list--dropdown {
  display: none;
  &.is-active {
    padding: 15px 10px 5px 10px;
    background: var(--c-white);
    @media (--m) {
      width: 100%;
    }
  }
  .choices__item--choice {
    @include rhythm(11, 11);
    padding: 5px 0;
  }

}

.choices__list--single {
  position: relative;
  .choices__item.choices__item--selectable {
    @include rhythm(11, 11);
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000011;
    @media (--m) {
      border-bottom: 0;
    }
  }

  &:after {
    @include setTransitionFor(0.2s, transform);
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - 5px);
    background-image: svg-load(
      "../icons/svg/icon-arrow.svg",
      fill=var(--c-black),
      stroke=var(--c-black)
    );
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(-1);
  }
}

.choices__item {
  &.is-highlighted {
    color: color(var(--c-black) l(80%));
  }
}
//End mods
