//Core styles
.header {
  background-color: var(--c-white);
  min-width: 320px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  @media (--m) {
    height: unset;
    margin-bottom: 15px;
    padding-top: 30px;
    position: relative;
    top: unset;
    z-index: unset;
  }
}

.header__top {
  align-items: center;
  display: flex;
  height: 65px;
  justify-content: space-between;
  width: 100%;
  @media (--m) {
    margin-bottom: 30px;
  }
}

.basket-btn {
  height: 45px;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  width: 40px;

  .icon-basket {
    width: 16px;
  }
  @media (--m) {
    display: none;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  width: 102px;

  .logoImg {
    max-width: 100%;
  }
  @media (--m) {
    width: 229px;
  }
}
//End core styles

//Mods

//End mods
