//Core styles
.footer {
  display: none;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  @media (--m) {
    display: block;
  }

  .nav--footer .nav__link {
    @include rhythm(11,11);
    text-transform: uppercase;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: row-reverse nowrap;
  @media (--s) {
    flex-direction: column;
  }
}

.footer__cell {
  width: 100%;

  &:first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  @media (--s) {
    text-align: center;
    margin: 0 auto;

    &:first-child {
      align-items: center;
      max-width: 500px;
      margin-bottom: 40px;
    }
  }
}

.copyright {
  @include textSmallSize();
  color: var(--c-black);
  margin-bottom: 4px;
}

.legal {
  width: 100%;
  @include textSmallSize();
  color: var(--c-light-grey);
}

.payment-standarts {
  flex-shrink: 0;
  width: 87px;
}
//End core styles

//Mods
.footerCell--width440 {
  max-width: 440px;
}
//End mods

@media screen and (min-width: $pre-mobile) {
  .paymentsStandartsFullSet {
    margin: 25px 0 !important;
  }
}
