//Core styles
.footer {
  display: none;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 100%;

  .nav--footer .nav__link {
    @include rhythm(11, 11);
    text-transform: uppercase;
  }
  @media (--m) {
    display: block;
  }
}

.footer__inner {
  align-items: stretch;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  @media (--s) {
    flex-direction: column;
  }
}

.footer__cell {
  width: 100%;

  &:first-child {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }
  @media (--s) {
    margin: 0 auto;
    text-align: center;

    &:first-child {
      align-items: center;
      margin-bottom: 40px;
      max-width: 500px;
    }
  }
}

.copyright {
  @include textSmallSize();
  color: var(--c-black);
  margin-bottom: 4px;
}

.legal {
  @include textSmallSize();
  color: var(--c-light-grey);
  width: 100%;
}

.payment-standarts {
  flex-shrink: 0;
  width: 87px;
}
//End core styles

//Mods
.footerCell--width440 {
  max-width: 440px;
}
//End mods
