{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link rel="stylesheet" href="../stylesheets/app.css">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'> {% block head %}{% endblock %}
</head>

<body class="page">
  <div class="wrapper">

    {% include ('../components/header/_header.njk')%}

    <div class="main">
      <aside class="sidebar">
        <nav class="nav nav--vertical nav--aside">
          <div class="nav__links">
            <a href="index.html" class="nav__link nav__link--heading link">Online Shop</a>

            <a href="catalog.html" class="nav__link nav__link--heading link">Женское</a>
            <a href="catalog.html" class="nav__link link">Новинки</a>
            <a href="catalog.html" class="nav__link link">Одежда</a>
            <a href="catalog.html" class="nav__link link">Обувь</a>
            <a href="catalog.html" class="nav__link link">Аксессуары</a>

            <a href="catalog.html" class="nav__link nav__link--heading link">Мужское</a>
            <a href="catalog.html" class="nav__link link">Новинки</a>
            <a href="catalog.html" class="nav__link link">Одежда</a>
            <a href="catalog.html" class="nav__link link">Обувь</a>
            <a href="catalog.html" class="nav__link link">Аксессуары</a>

            <a href="catalog.html" class="nav__link nav__link--heading link">offline gallery</a>

            <a href="catalog.html" class="nav__link nav__link--heading link">daynight.outlet</a>
          </div>
        </nav>
        <div class="form">
          <form>
            <input class="form__field" type="text" placeholder="email" />
            <input class="form__button" type="submit" value="Подписаться" />
          </form>
        </div>
      </aside>
      <div class="main__container">
        {% block content %}

        {% endblock %}
      </div>
    </div>
    <div class="modal">
      <div class="modalContainer">
        <img src="img/logo.svg" alt="" class="logo">
        <div class="form form--inModal">
          <form>
            <h4 class="formTitle">Хотите узнавать о новинках первыми?</h4>
            <input class="formField" type="text" placeholder="email" />
            <input class="formButton" type="submit" value="Подписаться" />
          </form>
          <p class="form__legend"><sup>*</sup>Подписавшись вы даете согласие на обработку данных согласно политики конфиденциальности.</p>
        </div>
        <div class="modalClose"></div>
      </div>
    </div>


  </div>
  {% include('../components/_footer.njk') %}

  {% block javascript %}
  <script async src="../javascripts/app.js"></script>
  {% endblock %}

</body>

</html>
