//Core styles
.sidebar {
  display: none;
  flex-basis: 156px;
  flex-shrink: 0;
  min-height: 100%;
  padding-right: 20px;
  position: relative;
  @media (--m) {
    display: block;

    .form {
      margin-top: 120px;
    }
  }
}
//End core styles

//Mods

//End mods
