//Core styles
.popupFilter {
  display: none;
  padding-bottom: 30px;
  width: 100%;
  @media (--m) {
    padding-left: 4px;
    padding-right: 30px;
  }

  &.active {
    display: block;
  }

  .btnCross {
    height: 44px;
    right: 15px;
    top: 3px;
    width: 44px;
  }
}
//End core styles

//Mods

//End mods
