//Core styles
.popupContainer {
  background-color: var(--c-white);
  bottom: 0;
  display: none;
  left: 0;
  overflow-y: scroll;
  padding: 25px 36px 0;
  position: fixed;
  right: 0;
  top: 65px;
  width: 100%;
  z-index: 1000000;

  &.active {
    display: block;
  }

  .btnCross {
    height: 44px;
    right: 15px;
    top: 3px;
    width: 44px;
  }
  @media (--m) {
    display: none !important;
  }
}

.popupInner {
  padding-bottom: 60px;
}

.popupBottom {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
//End core styles

//Mods

//End mods
