@import "core";
@import "unifiedStyles";
@import "promo";
@import "removeBtn";
@import "productCard";
@import "uniControl";

//Core styles
.basket__list {
  width: 100%;
}

.basket__item {
  border-top: 1px solid var(--c-black);
  padding-top: 16px;
  width: 100%;
  @media (--m) {
    &:not(:first-child) {
      padding-top: 0;

      .product-card__unibox-name,
      .remove-btn__text,
      .counter__title,
      .product-card__title {
        opacity: 0;
      }
    }
  }
}

.basket__total-cost {
  position: relative;
  text-align: right;
  width: 100%;

  &:before {
    border-top: 1px solid var(--c-black);
    content: "";
    display: block;
    transform: translateY(10px);
    width: 100%;
  }
}

.basket__total-cost-val {
  @include textNormalSize();
  background-color: var(--c-white);
  font-weight: 500;
  padding-left: 22px;
  position: relative;
}
//End core styles
//Mods

//End mods
