<div class="basket__promo">
    <div class="form">
        <form>
            <h2 class="basket__promo-title">Код купона на скидку</h2>
            <input type="text" class="form__field"/>
            <input type="submit" class="form__button" value="активировать">
        </form>
    </div>
</div>
