//Core styles
.form {
  width: 100%;
  // margin: 0 auto;
  .errors {
    @include textSmallSize();
    color: var(--c-black);
  }
}

.form__error {
  @include textNormalSize();
  color: var(--c-red);
}

.form__field {
  @include textNormalSize();
  background-color: var(--c-white);
  border: 0;
  border-bottom: 1px solid var(--c-black);
  margin-bottom: 10px;
  outline: 0;
  padding: 5px 0;
  width: 100%;

  &::placeholder {
    color: var(--c-light-grey);
  }

  &--withFullBorder {
    border: 1px solid var(--c-black);
  }
}

.form__button {
  @include textNormalSize();
  background-color: var(--c-white);
  border: 1px solid var(--c-black);
  color: var(--c-black);
  cursor: pointer;
  display: block;
  height: 32px;
  margin: 0 auto;
  width: 100%;

  &:hover {
    background-color: var(--c-black);
    color: var(--c-white);
  }

  &:focus,
  &:active {
    background-color: var(--c-white);
    color: var(--c-black);
  }
}

.form__button--width165 {
  max-width: 165px;
}

.form__button--resetMargin {
  margin: 0;
}

.formTitle {
  @include textNormalSize();
  margin-bottom: 32px;
  text-align: center;
}

.form__legend {
  @include textSmallSize();

  &--absolutePositionRight {
    display: block;
    margin: 20px 0;
    position: unset;
    right: unset;
    top: unset;
  }
}

.form__label {
  @include textNormalSize();

  &:after {
    content: ":";
  }

  &--reqiured {
    display: block;
    margin-bottom: 7px;

    &:after {
      content: "*:";
    }
  }
}

.form__fieldSet {
  border: 0;
  margin-bottom: 20px;
  position: relative;
}

.formTextarea {
  @include textNormalSize();
  background-color: var(--c-white);
  border: 1px solid var(--c-black);
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  display: block;
  margin-bottom: 10px;
  min-height: 150px;
  padding: 10px;
  resize: none;
  width: 100%;
}

// MODS
.form--mobile-menu {
  padding-bottom: 23px;
  position: relative;

  .form__field {
    @include rhythm(14,17);
    padding-right: 110px;
  }

  .form__button {
    @include rhythm(14,17);
    background: none;
    border: 0;
    display: inline-block;
    height: 27px;
    padding: 0;
    position: absolute;
    right: 0;
    text-transform: lowercase;
    top: 0;
    width: unset;

    &:hover {
      background: none;
      color: var(--c-black);
    }
  }
}

.form--inModal {
  max-width: 273px;

  .formField {
    margin-bottom: 30px;
  }

  .form__legend {
    margin-top: 36px;
    text-align: center;
  }
}

@media screen and (min-width: $pre-mobile) {
  .form__legend--absolutePositionRight {
    display: inline;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
//End core styles

//Mods

//End mods
