//Core styles
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 19px;
  padding-right: 19px;
  @media (--m) {
    justify-content: space-between;
    padding: 0;
  }
}

.list__item {
  color: var(--c-black);
  display: block;
  margin-bottom: 18px;
  padding-left: 4px;
  padding-right: 4px;
  width: 50%;
  @media (--m) {
    margin-bottom: 42px;
    padding: 0;
    width: calc(100% / 3);
    width: 180px;
  }
}

.list__item-date {
  @include rhythm(9, 16);
  display: block;
  font-size: 9px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.88889;
}

.list__item-title {
  @include rhythm(11, 14);
  display: block;
  font-weight: 500;
  letter-spacing: 1px;
}

.list__item-price {
  @include rhythm(11, 14);
  display: block;
  font-weight: 300;
  letter-spacing: 1px;
}

.list__item-cover {
  display: block;
  height: 270px;
  margin-bottom: 9px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.list__item-cover-img {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

.list__item-sale,
.list__item-new {
  @include rhythm(9, 16);
  bottom: 0;
  font-weight: 300;
  left: 0;
  letter-spacing: 1px;
  padding: 2px 7px 3px;
  position: absolute;
  text-transform: uppercase;
  z-index: 1;
}

.list__item-sale {
  background: var(--c-red);
  color: var(--c-white);
}

.list__item-new {
  background: var(--c-black);
  color: var(--c-white);
}
//End core styles
//Mods
.list--long {
  .list__item {
    margin-bottom: 20px;
  }

  .list__item-cover,
  .list__item-cover-img {
    height: 228px;
  }
  @media (--m) {
    .list__item {
      margin-bottom: 20px;
      padding: 0;
      width: 163px;
    }
  }
}

//End mods
