//Core styles
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 19px;
  padding-right: 19px;
  @media (--m) {
    justify-content: space-between;
    padding: 0;
  }
}

.list__item {
  color: var(--c-black);
  display: block;
  margin-bottom: 18px;
  padding-left: 4px;
  padding-right: 4px;
  width: 50%;
  @media (--m) {
    margin-bottom: 42px;
    padding: 0;
    width: calc(100% / 3);
    width: 180px;
  }
}

.list__item-date {
  @extend .f-weight-light;
  @include rhythm(9, 16);
  display: block;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1.88889;
}

.list__item-title {
  @include rhythm(11, 14);
  display: block;
  font-weight: 500;
  letter-spacing: 1px;
}

.list__item-cover {
  display: block;
  height: 270px;
  margin-bottom: 9px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.list__item-cover-img {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}
//End core styles
//Mods

//End mods
