//Core styles
.nav {
  display: flex;
}

.nav__link {
  @extend .f-weight-light;
  @include rhythm(11, 15);
  letter-spacing: 1px;
}
//End core styles

//Mods
.nav--vertical {
  flex-direction: column;

  .nav__link {
    display: block;
  }
}

.nav--header,
.nav--aside {
  display: none;
  @media (--m) {
    display: flex;
  }
}

.nav--header {
  padding-left: 156px;

  .nav__links {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  .nav__link {
    text-transform: uppercase;
  }
}

.nav--aside {
  @media (--m) {
    .nav__link--heading {
      text-transform: uppercase;

      & + .nav__link--heading {
        margin-top: 20px;
      }
    }

    .nav__link {
      padding-bottom: 2px;
      padding-top: 2px;

      & + .nav__link--heading {
        margin-top: 20px;
      }
    }
  }
}
//End mods
